<div class="pos-f-t">
    <nav class="navbar navbar-dark">
        <div class="tituloCabezera">
            <h4 class="h4">WBT CONOCIMIENTO</h4>
            <h4 class="h4-1">BÁSICO DE MOTORES</h4>
        </div>
        <div class="ml-auto">
            <a href="#" title="Salir" id="SalirBtn" onclick="completaCourse(1);">
                <button type="button" onclick="completaCourse(1);" class="bordesolido text_dorado tres">SALIR<i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size: x-large;margin-left: 10px;"></i></button>
            </a>
        </div>
    </nav>
</div>
<div class="row" id="contenido" style="height: 470px !important;">
    <div class="col-4">
    </div>
    <div class="col-8 mt-3 PriColumna" style="padding-top: 10%;">
        <div class="row p4">
            <div id="pfin" class="col-8" style="border-right: #fff solid 1px;position: absolute;">
                <p class="text-right">Issued by</p>
                <p>ISUZU MOTORS LIMITED</p>
                <p>LIFE-CYCLE BISINESS PROMOTION DEPARTMENT</p>
                <p>Tokyo, Japan</p>
                <p>COPYRIGHT-ISUZU MOTORS LIMITED</p>
                <p>ISUZU SERVICE TRANING PROGRAM BASIC 1 [ENGINE]</p>
                <p>NNB - BASIC ENGINE KNOWLEDGE (Version 1) MAY, 2014</p>
                <p>THE RIGHT IS RESERVED TO MAKE CHANGES AT ANY TIME WITHOUT NOTICE</p>
            </div>
            <div class="col-3" style="padding-top: 10%;">
                <p style="font-size: 12px;color: #fff !important;">Desarrollado y adaptado por:</p>
                <img class="img-fluid" src="images/ImgCurso/IMAGENES WBT 01-19.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="col-2"></div>
</div>
<footer class="footerValidado">
    <div>
        <p style="text-align-last: end;margin-top: revert;"><b class="text_dorado" style="margin-right: 62%;font-size: x-large;">PROGRAMA DE ENTRENAMIENTO BÁSICO 1</b></p>
    </div>
    <hr class="hr">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
            <img class="animate__animated animate__heartBeat" src="images/ImgCurso/LOGOISUZUCHEVROLET.png" alt="" style="padding-top: inherit;height: 33%;">
        </div>
        <div class="ml-auto p-5">
            <b class="text_blanco" style="font-size: x-large;">CURSO COMPLETADO</b>
        </div>
    </div>
</footer>