<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>RESISTENCIA VARIABLE / RELEVO (RELÉ)</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna">
        <div class="col-12" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <h4 style="color: #b3852d !important; font-size: 24px !important;">Resistencia variable
            </h4>
            <p class=" animate__animated animate__fadeInDown animate__delay-1s">Es capaz de cambiar su valor desde 0 hasta un nivel deseado y se llama resistencia variable (Potenciómetro).
            </p>
            <h4 style="color: #b3852d !important; font-size: 24px !important;">Relevo (Relé)
            </h4>
            <p class=" animate__animated animate__fadeInDown animate__delay-3s">Cuando la corriente de operación de una carga es relativamente grande, se usa un relé para encender o apagar el circuito.</p>
            <p class=" animate__animated animate__fadeInDown animate__delay-3s">Un relevo o relé consiste de una bobina para generar una fuerza magnética, que mueve los contactos atraídos por la fuerza y permite el paso de corriente, por otro circuito, a la carga.</p>
        </div>

    </div>
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3" style="padding-left: 5%;">
        <div class="row" style="padding-left: 5%; ">
            <div class="col-12" style=" margin-left: 0%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 71-1.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-10" style=" margin-left: 0%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 72.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-3s">
            </div>

        </div>
    </div>
</div>