<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>RELEVO (RELÉ)</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-12  PriColumna" style="padding-top: 0%;">
        <div class="row">
            <div class="col-4" style=" margin-left: 2%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 98.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-5" style=" margin-left: 2%; padding-top: 9%;">
                <img src="images/ImgCurso/Imagen 99.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>
        </div>

        <div class="col-10 animate__animated animate__fadeInDown animate__delay-1s mt-3">
            <div class="row" style="padding-left: 10%; ">
                <div class="col-12" style=" margin-left: 0%; padding-top: 0%;">
                    <img src="images/ImgCurso/Imagen 100.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-4s" style="height: 59%; margin-left: 0%; ">
                </div>

            </div>
        </div>

    </div>