<div class="row">
	<div class="col-md-3 col-xs-3">
		<img class="imgFooterSetion" src="images/ImgCurso/LOGOISUZUCHEVROLET.png">
	</div>
	<div class="col-md-3 col-xs-3">
		<h5>PROGRAMA DE ENTRENAMIENTO BÁSICO 1</h5>
	</div>
	<div class="col-md-3 col-xs-12">
		<div class="progress cuatro" >
			<div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-12">
		<h5>BIENVENIDO@ <b><div id="NameUsr">Estudiante</div></b></h5> 
	</div>
</div>
