<ul class="list-unstyled">
    <li class="lista" id="VinI0" onclick="Ir(0);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI1" onclick="Ir(1);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI2" onclick="Ir(2);"><i class="fa fa-circle" aria-hidden="true"></i></li>   
   
</ul>