<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>REPASO</h2>
    </div>
</div>
<div class="row" id="contenido">
    <div class="col-8 mt-3 PriColumna animate__animated animate__zoomIn animate__delay-1s">
        <p>Seleccione la respuesta correcta.</p>
        <div class="contenidoPreguntas">
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid" src="images/ImgCurso/pre1.png" alt="">
                </div>
            </div>
            <div class="row" style="padding-left: 14px; padding-right: 14px;">
                <div id="opc11" onclick="IrPre(1,1);" class="col-5 opNivel">
                    <h5>A. Precisión</h5>
                </div>
                <div class="col-2"></div>
                <div id="opc12" onclick="IrPre(1,2);" class="col-5 opNivel">
                    <h5>B. Capacidad de repetición</h5>
                </div>
            </div>
            <div class="row" style="padding-left: 14px; padding-right: 14px;">
                <div id="opc13" onclick="IrPre(1,3);" class="col-5 opNivel">
                    <h5>C. Exactitud</h5>
                </div>
                <div class="col-2"></div>
                <div id="opc14" onclick="IrPre(1,4);" class="col-5 opNivel">
                    <h5>D. Variabilidad</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
    <div class="col-4 seColumna animate__animated animate__fadeInRightBig animate__delay-2s">

    </div>
</div>