<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">MULTÍMETRO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 mt-3 PriColumna">

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Análogo (Figura 1)</h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-1s" style="margin-bottom: revert;">La aguja apunta a los valores medidos.</p>
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Digital (Figura 2)</h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-3s" style="margin-bottom: revert;">Indica valores numéricos, empleando pantalla de cristal líquido o pantalla LED.</p>
        <p class=" animate__animated animate__fadeInDown animate__delay-3s" style="margin-bottom: revert;">Ambos tienen ventajas y desventajas. Sin embargo el digital es más adecuado para probar sensores ya que su circuito amplificador incorporado permite leer señales extremadamente pequeñas, como la salida de un sensor.</p>
        <p class=" animate__animated animate__fadeInDown animate__delay-3s" style="margin-bottom: revert;">Una de las desventajas es su menor velocidad de respuesta comparado con uno análogo.</p>
    </div>
    <div class="col-6  mt-3">
        <div class="row " style="padding-left: 15%; margin-bottom: -43%; ">
            <div class="col-6 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 0%; padding-top: 1%; ">
                <img src="images/ImgCurso/Imagen 84.jpg" alt="" class=" img-fluid ">
            </div>
            <div class="col-6 animate__animated animate__bounceInRight animate__delay-3s" style=" margin-left: 0%; padding-top: 3%; ">
                <img src="images/ImgCurso/Imagen 85.jpg" alt="" class=" img-fluid ">

            </div>

        </div>

    </div>