<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE</h2>
    </div>
</div>
<div class="row  " id="contenido">

    <div class="row PriColumna " id="contenido">
        <h4 style="color: #b3852d !important; font-size: 20px !important;">Haga clic en los números abajo y vamos a conocer los diferentes tipos.</h4>

    </div>
    <div class="row">
        <div class="col-6 animate__animated animate__flash mt-3 PriColumna">
            <p></p><input type="image" name="botondeenvio" src="images/ImgCurso/IMAGENES-68.jpg" alt="Enviar formulario" style=" height: 110px; margin-top: -68px;"></p>
        </div>
    </div>

    <div class="col-1"></div>

    <div class="row">
        <div class="col-4 animate__animated animate__flash mt-3 PriColumna" style=" margin-bottom: -15%;">
            <p><input type="image" name="botondeenvio" src="images/ImgCurso/Imagen 43.jpg" alt="" style=" height: 230px; margin-top: -59px; margin-left: 13%;"></p>
        </div>

        <div class="col-6 animate__animated animate__flash  PriColumna mt-3" style="margin-left: 5%;">


            <h4 style="color: #b3852d !important; font-size: 20px !important;">Características del tipo de resorte de diafragma</h4>
            <p style=" font-size: 17px !important; margin-left: 3%;">1. Su bajo número de piezas y su estructura simple facilita su manipulación. <br> 2. La fuerza del resorte no disminuye y la fuerza de empuje no cambia incluso a revoluciones altas del motor. <br> 3. Se requiere menor esfuerzo del pedal del
                embrague.
            </p>
        </div>

    </div>
</div>