<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE
        </h2>
    </div>
</div>
<div class="row " id="contenido">
    <div class="col-6 mt-3 PriColumna animate__animated animate__rotateInUpLeft animate__delay-1s">
        <h5>4. Disco </h5>
        <h5 style="margin-top: 25px;">Haga clic en los números de la figura y vamos a conocer los nombres
        </h5>
        <p>Propiedades requeridas de la cara de ficción</p>

        <ul class="ulM5">
            <li>
                <p>Transmisión suave de la potencia </p>
            </li>
            <li>
                <p>Buena Resistencia al desgaste</p>
            </li>
            <li>
                <p>Fortaleza</p>
            </li>
            <li>
                <p>Alto coeficiente de fricción</p>
            </li>
            <li>
                <p>Buena Resistencia al calor</p>
            </li>
            <li>
                <p>Buena Resistencia al agua y al aceite</p>
            </li>


        </ul>

    </div>
    <div class="col-1"></div>
    <div class="col-5 seColumna animate__animated animate__backInRight animate__delay-2s">
        <img class="img-fluid" src="images/ImgCurso/Imagen 34.jpg" alt="">
    </div>
</div>