<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE</h2>
    </div>
</div>
<div class="row  ">
    <h4 style="color: #b3852d !important; font-size: 20px !important; margin-left: 8%;">4. Disco </h4>


    <div class="row  " id="contenido" style="padding-top: -2px !important;">
        <div class="col-9 animate__animated animate__flash  PriColumna mt-3" style="margin-left: -2%; padding-top: 0%">
            <h4 style="color: #b3852d !important; font-size: 20px !important; margin-left: 3%;">Placa de amortiguación</h4>
            <p style=" font-size: 15px !important; margin-left: 3%;">1. Una placa ondulada de amortiguación se utiliza entre las 2 superficies de revestimiento del embrague para ejercer uniformemente la fricción de las superficies en contacto y permitir un enganche suave.</p>

        </div>

        <div class="col-1"></div>

        <div class="row">
            <div class="col-4 animate__animated animate__flash mt-3 PriColumna" style=" margin-bottom: -15%;">
                <p><input type="image" name="botondeenvio" src="images/ImgCurso/Imagen 36.jpg" alt="" style=" height: 213px; margin-top: -36px; margin-left: -23%;"></p>
            </div>


        </div>
    </div>