<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE
        </h2>
    </div>
</div>
<div class="row " id="contenido">
    <div class="col-6 mt-3 PriColumna animate__animated animate__rotateInUpLeft animate__delay-1s">
        <h5>4. Disco </h5>
        <h5>Caras de fricción</h5>
        <p>1.Las superficies de fricción están instaladas sobre ambas superficies de la placa de amortiguación con remaches. Esto significa que las características de las caras de fricción afectan en gran medida las características del embrague en sí mismo.</p>

    </div>

    <div class="col-3  animate__animated animate__backInRight animate__delay-2s" style="padding-top: 7%;">
        <img class="img-fluid" src="images/ImgCurso/Imagen 42.jpg" alt="">
    </div>
</div>