<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE
        </h2>
    </div>
</div>
<div class="row " id="contenido">
    <div class="col-6 mt-3 PriColumna animate__animated animate__rotateInUpLeft animate__delay-1s">
        <h5>*Eutectoide</h5>
        <p>Se entiende por eutéctica a la mezcla de sólidos A y B íntimamente conectados, que poseen un punto de fusión más bajo (E) que el que poseen los compuestos individualmente.
        </p>

    </div>

    <div class="col-5  animate__animated animate__backInRight animate__delay-2s" style="padding-top: 7%;">
        <img class="img-fluid" src="images/ImgCurso/Imagen 41.jpg" alt="" style="height: 55%; margin-left: 25%; ">
    </div>
</div>