<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE</h2>
    </div>
</div>
<div class="row  " id="contenido">

    <div class="row PriColumna " id="contenido">
        <h4 style="color: #b3852d !important; font-size: 20px !important;">Haga clic en los números abajo y vamos a conocer los diferentes tipos.</h4>

    </div>
    <div class="row">
        <div class="col-6 animate__animated animate__flash mt-3 PriColumna">
            <p></p><input type="image" name="botondeenvio" src="images/ImgCurso/IMAGENES-68.jpg" alt="Enviar formulario" style=" height: 110px; margin-top: -68px;"></p>
        </div>
    </div>

    <div class="col-1"></div>
    <div class="col-6 animate__animated animate__flash  PriColumna mt-3" style="margin-left: 5%;">
        <div id="1" class="row flechaAlante" style=" padding-top: 1%; ">
            <div class="col-1  animate__animated animate__jello animate__delay-2s">
                <button type="button" class="btn btn-outline-warning ">1</button>
            </div>
            <div class="col-10">
                <p id="p1" style=" padding-top: 1%; margin-left: 3%; display: none; ">Cubierta del embrague (carcasa)</p>
            </div>
        </div>
        <div id="2" class="row" style=" padding-top:1%; ">
            <div class="col-1 animate__animated animate__jello animate__delay-2s">
                <button type="button" class="btn btn-outline-warning">2</button>
            </div>
            <div class="col-10" sty>
                <p id="p2" style=" padding-top: 1%; margin-left: 3%; display: none;">Plato de presión
                    <p>
            </div>
        </div>
        <div id="3" class="row" style=" padding-top: 1%;  ">
            <div class="col-1 animate__animated animate__jello animate__delay-2s">
                <button type="button" class="btn btn-outline-warning">3</button>
            </div>
            <div class="col-10" sty>
                <p id="p3" style=" padding-top: 1%; margin-left: 3%; display: none;">Remache</p>
            </div>
        </div>
        <div id="4" class="row" style=" padding-top: 1%; ">
            <div class="col-1 animate__animated animate__jello animate__delay-2s">
                <button type="button" class="btn btn-outline-warning">4</button>
            </div>
            <div class="col-10" sty>
                <p id="p4" style=" padding-top: 1%; margin-left: 3%; display: none;">Rodamiento del embrague</p>
            </div>
        </div>
        <div id="5" class="row" style=" padding-top: 1%;">
            <div class="col-1 animate__animated animate__jello animate__delay-2s">
                <button type="button" class="btn btn-outline-warning">5</button>
            </div>
            <div class="col-10" sty>
                <p id="p5" style=" padding-top: 1%; margin-left: 3%; display: none;">Resorte diafragma (palanca interna)</p>
            </div>
        </div>
        <div id="6" class="row" style=" padding-top: 1%;">
            <div class="col-1 animate__animated animate__jello animate__delay-2s">
                <button type="button" class="btn btn-outline-warning">6</button>
            </div>
            <div class="col-10" sty>
                <p id="p6" style=" padding-top: 1%; margin-left: 3%; display: none;">Resorte diafragma (palanca externa)</p>
            </div>
        </div>
        <div id="7" class="row" style=" padding-top: 1%;">
            <div class="col-1 animate__animated animate__jello animate__delay-2s">
                <button type="button" class="btn btn-outline-warning">7</button>
            </div>
            <div class="col-10" sty>
                <p id="p7" style=" padding-top: 1%; margin-left: 3%; display: none;">Platina de mando</p>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-4 animate__animated animate__flash mt-3 PriColumna" style=" margin-bottom: -15%;">
            <p><input type="image" name="botondeenvio" src="images/ImgCurso/Imagen 44.jpg" alt="" style=" height: 340px; margin-top: -59px; margin-left: 13%;"></p>
        </div>



    </div>
</div>