<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">CAPACITOR / DIODO / DIODO ZENER / LED
        </h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 mt-3 PriColumna">
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Capacitor </h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-1s" style="margin-bottom: revert;">Permite almacenar corriente después de que la fuente de alimentación se ha suspendido.</p>
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Diodo </h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-2s" style="margin-bottom: revert;">Tiene dos terminales, el ánodo y el cátodo, la corriente sólo fluye en una dirección.</p>

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Diodo Zener </h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-3s" style="margin-bottom: revert;">El Diodo Zener conduce corriente de forma similar a otros diodos. Y se polariza de manera inversa, permitiendo un valor fijo re paso de corriente</p>

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">LED (Diodo Emisor de Luz)
        </h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-4s" style="margin-bottom: revert;">Es un tipo de diodo que conduce corriente y emite luz cuando es polarizado directamente</p>
    </div>
    <div class="col-6  mt-3">
        <div class="row " style="padding-left: 15%; margin-bottom: -43%; ">
            <div class="col-6 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 0%; padding-top: 4%; ">
                <img src="images/ImgCurso/Imagen 73.jpg" alt="" class=" img-fluid ">
            </div>
            <div class="col-6 animate__animated animate__bounceInRight animate__delay-2s" style=" margin-left: 0%; padding-top: 3%; ">
                <img src="images/ImgCurso/Imagen 74.jpg" alt="" class=" img-fluid ">
            </div>
            <div class="col-4 animate__animated animate__bounceInRight animate__delay-3s" style=" margin-left: 0%; padding-top: 3%; ">
                <img src="images/ImgCurso/Imagen 75.jpg" alt="" class=" " style="height: 53%;">
            </div>
            <div class="col-4 animate__animated animate__bounceInRight animate__delay-4s" style=" margin-left: 14%; padding-top: 3%; ">
                <img src="images/ImgCurso/Imagen 76.jpg" alt="" class=" " style="height: 46%;">
            </div>

        </div>

    </div>

</div>