<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE</h2>
    </div>
</div>
<div class="row  " id="contenido">

    <div class="row PriColumna " id="contenido">
        <h4 style="color: #b3852d !important; font-size: 20px !important;">Haga clic en los números abajo y vamos a conocer los diferentes tipos.</h4>

    </div>
    <div class="row">
        <div class="col-6 animate__animated animate__flash mt-3 PriColumna">
            <p></p><input type="image" name="botondeenvio" src="images/ImgCurso/IMAGENES-54.jpg" alt="Enviar formulario" style=" height: 105px; margin-top: -68px;"></p>
        </div>
    </div>

    <div class="col-1"></div>

    <div class="row">
        <div class="col-4 animate__animated animate__flash mt-3 PriColumna" style=" margin-bottom: -15%;">
            <p><input type="image" name="botondeenvio" src="images/ImgCurso/Imagen 33.jpg" alt="" style=" height: 252px; margin-top: -59px; margin-left: 13%;"></p>
        </div>

        <div class="col-6 animate__animated animate__flash  PriColumna mt-3" style="margin-left: 5%;">


            <h4 style="color: #b3852d !important; font-size: 20px !important;">Características del tipo de resorte en espiral </h4>
            <h4 style="color: #b3852d !important; font-size: 20px !important;">5.Placa de presión o prensa</h4>
            <p style=" font-size: 20px !important; margin-left: 3%;">En general, se usa fundición perlítica* de suficiente espesor para asegurar la deformación constante por calor y una superficie de presión entre las superficies de contacto.
                <h4 onclick="Ir(15)" style="color: #b3852d !important; font-size: 20px !important; cursor:pointer; ">Ver más sobre Disco <img src="images/ImgCurso/IMAGENES-15d.jpg" style="height: 46px;" alt=""> </h4>


        </div>
    </div>
    </diAv>