<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE</h2>
    </div>
</div>
<div class="row  " id="contenido">

    <div class="row PriColumna " id="contenido">
        <h4 style="color: #b3852d !important; font-size: 20px !important;">Haga clic en los números abajo y vamos a conocer los diferentes tipos.</h4>

    </div>
    <div class="row">
        <div class="col-6 animate__animated animate__flash mt-3 PriColumna">
            <p></p><input type="image" name="botondeenvio" src="images/ImgCurso/IMAGENES-68.jpg" alt="Enviar formulario" style=" height: 110px; margin-top: -68px;"></p>
        </div>
    </div>

    <div class="col-1"></div>
    <div class="col-2 animate__animated animate__flash  PriColumna mt-3" style="margin-left: 5%;">

    </div>

    <div class="row">
        <div class="col-5 animate__animated animate__flash mt-3 PriColumna" style=" margin-bottom: -15%;">
            <p><input type="image" name="botondeenvio" src="images/ImgCurso/Imagen 45.jpg" alt="" style=" height: 279px; margin-top: -135px; margin-left: 441%; margin-bottom: 60%;"></p>
        </div>



    </div>
</div>