<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-12">
        <div class="row PriColumna " id="contenido">
            <h4 style="color: #b3852d !important; font-size: 20px !important;">Haga clic en los números abajo y vamos a conocer los diferentes tipos.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna ">
            <p><input type="image" onclick="Ir(18)" name="botondeenvio" src="images/ImgCurso/IMAGENES-52.jpg" alt="Enviar formulario" style=" height: 91px; margin-top: -36px;"></p>
            <p><input type="image" name="botondeenvio" src="images/ImgCurso/IMAGENES-03.jpg" alt="Enviar formulario" style=" height: 91px; margin-top: -25px; margin-left: 200px;"></p>
        </div>
    </div>

</div>