<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE
        </h2>
    </div>
</div>
<div class="row " id="contenido">
    <div class="col-5 mt-3 PriColumna animate__animated animate__rotateInUpLeft animate__delay-1s">
        <h5>4. Disco </h5>
        <h5>Material de las superficies de fricción </h5>
        <p>1.Se utilizó asbesto durante mucho tiempo en el pasado, pero su uso hoy día se ha restringido por ser un material nocivo, se utilizan materiales sin asbesto. </p>
    </div>

    <div class="col-5  animate__animated animate__backInRight animate__delay-2s" style="padding-top: 7%;">
        <img class="img-fluid" src="images/ImgCurso/Imagen 35.jpg" alt="">
    </div>
</div>