<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE </h2>
    </div>
</div>

<div class="row PriColumna ">
    <div class="col-6 mt-3  animate__animated animate__rotateInUpLeft animate__delay-1s">
        <h5>4. Disco </h5>
        <h5>Material de las superficies de fricción </h5>
        <p>1. Se utilizó asbesto durante mucho tiempo en el pasado, pero su uso hoy día se ha restringido por ser un material nocivo, se utilizan materiales sin asbesto. <br><br> 2.Uno de estos materiales sin asbesto es el cerametálico, en el que se mezcla
            cerámica con cobre, que se utiliza como material de base y se sinteriza mediante metalurgia de polvos. Esto significa que es estable a altas temperaturas como los metales sinterizados. <br><br>
            <h5>Sinterizado </h5>

            <p>La sinterización es un proceso de fabricación de piezas sólidas moldeadas. Consiste en compactar a alta presión varios polvos metálicos y / o cerámicos mezclados homogéneamente y, una vez compactados, se realiza un tratamiento térmico a una
                temperatura inferior a la de fusión de la mezcla, obteniéndose una pieza consolidada y compacta</p>
    </div>
    <div class="col-1"></div>
    <div class="col-4  animate__animated animate__backInRight animate__delay-2s" style="padding-top: 7%;">
        <img class="img-fluid" src="images/ImgCurso/Imagen 38.jpg" alt="">
    </div>
</div>