<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE
        </h2>
    </div>
</div>
<div class="row " id="contenido">
    <div class="col-6 mt-3 PriColumna animate__animated animate__rotateInUpLeft animate__delay-1s">
        <h5>5.1. Perlítican</h5>
        <p>La perlita es la microestructura formada por capas o láminas alternas de dos fases (ferrita y cementita) durante el enfriamiento lento de un acero a temperatura *eutectoide. <br> <br> Se le da este nombre porque tiene la apariencia de una perla
            al observarse microscópicamente.</p>

    </div>

    <div class="col-5  animate__animated animate__backInRight animate__delay-2s" style="padding-top: 7%;">
        <img class="img-fluid" src="images/ImgCurso/Imagen 40.jpg" alt="" style="height: 55%; margin-left: 25%; ">
        <p style="margin-bottom: 0%;">*Eutectoide=</p>
    </div>
</div>