<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>MULTÍMETRO</h2>
    </div>
</div>
<div class="row  " id="contenido">

    <div class="col-12 PriColumna animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="row " style="padding-left: 5%;">
            <div class="col-5" style=" margin-left: 0%; padding-top: 1%;  ">
                <h4 style="color: #b3852d !important; font-size: 20px !important;">Conexión del Amperímetro</h4>
            </div>
            <div id="1" class="col-7 flechaAlante">
                <div id="im1" class="row " style=" margin-left: 0%; padding-top: 0%; display: none; ">
                    <img src="images/ImgCurso/IMAGENESflecder-15.jpg" alt="" style="height: 80px;" class="animate__animated animate__flash">
                    <img src="images/ImgCurso/Imagen 86.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -11%; padding-left: 29px; height: 133px;">
                    <img src="images/ImgCurso/Imagen 87.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -22%; padding-left: 411px; height: 133px;">
                </div>
            </div>
        </div>

        <div class="row " style="padding-left: 5%;">
            <div class="col-5" style=" margin-left: 0%; padding-top: 1%;  ">
                <h4 style="color: #b3852d !important; font-size: 20px !important;">Conexión del Voltímetro </h4>
            </div>
            <div id="2" class="col-7 ">
                <div id="im2" class="row " style=" margin-left: 0%; padding-top: 0%; display: none; ">
                    <img src="images/ImgCurso/IMAGENESflecder-15.jpg" alt="" style="height: 80px;" class="animate__animated animate__flash">
                    <img src="images/ImgCurso/Imagen 88.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -11%; padding-left: 29px; height: 133px;">
                    <img src="images/ImgCurso/Imagen 89.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -22%; padding-left: 352px; height: 133px;">
                </div>
            </div>
        </div>
        <div class="row " style="padding-left: 5%;">
            <div class="col-5" style=" margin-left: 0%; padding-top: 1%;  ">
                <h4 style="color: #b3852d !important; font-size: 20px !important;">Conexión para medir la resistencia usando un probador de circuito</h4>
            </div>
            <div id="3" class="col-6 ">
                <div id="im3" class="row " style=" margin-left: 0%; padding-top: 0%; display: none; ">
                    <img src="images/ImgCurso/IMAGENESflecder-15.jpg" alt="" style="height: 80px;" class="animate__animated animate__flash">
                    <img src="images/ImgCurso/Imagen 90.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -11%; padding-left: 29px; height: 160px;">
                </div>
            </div>
        </div>


    </div>
</div>