<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">FUSIBLE</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 mt-3 PriColumna">

        <h4 class=" animate__animated animate__fadeInDown animate__delay-1s" style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important; ">Fusible<br> </h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-1s" style="margin-bottom: revert;">Un fusible es una pieza de cable o una cinta de metal delgada encapsulada en una carcaza de vidrio o plástico
        </p>

        <p class=" animate__animated animate__fadeInDown animate__delay-2s" style="margin-bottom: revert;">El cable o cinta de metal están diseñadas para quemarse e interrumpir el flujo de corriente al presentarse un pico de corriente que puede causar daños a otros componentes del circuito.</p>
        <h4 class=" animate__animated animate__fadeInDown animate__delay-3s" style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Cable fusible<br> </h4>
        <p class=" animate__animated animate__fadeInDown animate__delay-3s" style="margin-bottom: revert;">El cable fusible es principalmente utilizado para proteger circuitos donde fluye grandes cantidades de corriente y donde no es práctico el uso de un fusible. Por ejemplo el circuito de arranque.</p>
    </div>
    <div class="col-6  mt-3">
        <div class="row animate__animated animate__bounceInRight animate__delay-1s" style="padding-left: 15%; ">
            <div class="col-12" style=" margin-left: 0%; padding-top: 21%; ">
                <img src="images/ImgCurso/Imagen 66.jpg" alt="" class=" img-fluid ">
            </div>
        </div>
    </div>
</div>