<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">FUSIBLE DE QUEMADO LENTO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 mt-3 PriColumna">

        <p class=" animate__animated animate__fadeInDown animate__delay-1s" style="margin-bottom: revert;">Los fusibles de quemado lento se usan en circuitos con muy alto flujo de corriente (arranque), o en un sitio donde no sea práctico el uso de un fusible ordinario.
        </p>

        <p class=" animate__animated animate__fadeInDown animate__delay-2s" style="margin-bottom: revert;">Un excesivo paso de corriente causa que la unión fusible dentro del fusible se queme.</p>

        <p class=" animate__animated animate__fadeInDown animate__delay-3s" style="margin-bottom: revert;">Antes de reemplazar un fusible, determine la causa de la sobrecarga y reemplácelo por uno de las mismas especificaciones de amperaje.</p>
    </div>
    <div class="col-6  mt-3">
        <div class="row " style="padding-left: 15%; margin-bottom: -43%; ">
            <div class="col-6 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 0%; padding-top: 4%; ">
                <img src="images/ImgCurso/Imagen 68-1.jpg" alt="" class=" img-fluid ">
            </div>
            <div class="col-6 animate__animated animate__bounceInRight animate__delay-2s" style=" margin-left: 0%; padding-top: 3%; ">
                <img src="images/ImgCurso/Imagen 70-1.jpg" alt="" class=" img-fluid ">
            </div>
            <div class="col-4 animate__animated animate__bounceInRight animate__delay-3s" style=" margin-left: 0%; padding-top: 3%; ">
                <img src="images/ImgCurso/Imagen 69.jpg" alt="" class=" " style="height: 37%;">
            </div>

        </div>

    </div>

</div>