<div class="col-8 animate__animated animate__bounceInLeft animate__delay-1s" style="margin-top: 6%; margin-left: 8%;">
    <div class="">
        <h4 class="h4"><b style="color: #ffff !important; font-size: 50px !important;">COMPONENTES</b></h4>
        <h4 class="h4-1"> <b style="color: #b3852d !important; font-size: 50px !important;">USADOS EN CIRCUITOS</b></h4>
        <h4 class="h4-1"> <b style="color: #b3852d !important; font-size: 50px !important;">ELÉCTRONICOS</b></h4>
    </div>
</div>