<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">TERMISTOR</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 mt-3 PriColumna  animate__animated animate__bounceInRight animate__delay-1s">
        <ul class="ulM5">
            <li>
                <p>La resistencia de los conductores (metales, por ejemplo) incrementa cuando la temperatura aumenta.
                </p>
            </li>

            <li>
                <p>En cambio, en los transistores la resistencia disminuye cuando la temperatura aumenta.</p>
            </li>

            <li>
                <p>Los termistores hacen un óptimo uso de este coeficiente negativo de temperatura.</p>
            </li>

            <li>
                <p>Son ampliamente usados como sensores de temperatura, también como correctores de temperatura del resistor.</p>
            </li>

            <li>
                <p>En la vida diaria, los termistores se usan en termómetros clínicos, termómetros, alarmas de incendio. En los automóviles se usan como sensores de temperatura del refrigerante y sensores de temperatura del aire de admisión.</p>
            </li>
        </ul>

    </div>
    <div class="col-3  mt-3">
        <div class="row " style="padding-left: 15%; margin-bottom: -43%; margin-top: 14%; ">
            <div class="col-12 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 20%; padding-top: 0%; ">
                <img src="images/ImgCurso/Imagen 82.jpg" alt="" class=" img-fluid ">
            </div>
            <div class="col-12 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 20%; padding-top: 5%; ">
                <img src="images/ImgCurso/Imagen 83.jpg" alt="" class=" img-fluid ">
            </div>
        </div>
    </div>
    <div class="col-3  mt-3">
        <div class="row  animate__animated animate__bounceInRight animate__delay-2s " style="padding-left: 40%; margin-bottom: -43%; margin-top: 14%; font-size: 16px; ">
            <ol class="ulM5">
                <li id="1" class="flechaAtras">
                    <p id="p1" style="display: none;">Resistencia</p>
                </li>
                <li id="2">
                    <p id="p2" style="display: none;">curva de un termistor de coeficiente negativo</p>
                </li>
                <li id="3">
                    <p id="p3" style="display: none;">curva de un termistor de coeficiente positivo</p>
                </li>
                <li id="4">
                    <p id="p4" style="display: none;">Temperatura</p>
                </li>
            </ol>
        </div>
    </div>

</div>