<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">TRANSISTOR</h2>
    </div>
</div>
<div class="row " id="contenido">
    <div class="col-5 mt-3 PriColumna">
        <p class=" animate__animated animate__fadeInDown animate__delay-1s" style="margin-bottom: revert;">El transistor es un pequeño dispositivo electrónico que actúa ON / OFF a alta velocidad, y actúa como un amplificador, cambiando una señal débil por una señal fuerte.(similar a la función de un relevo).</p>
    </div>
    <div class="col-6  mt-3">
        <div class="row " style="padding-left: 15%; margin-bottom: -43%; ">
            <div class="col-8 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 20%; padding-top: 0%;  margin-bottom: 54%; "> <img src="images/ImgCurso/Imagen 81.jpg" alt="" class=" img-fluid ">
            </div>

        </div>

    </div>

</div>