<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ESTRUCTURA Y OPERACIÓN DEL EMBRAGUE</h2>
    </div>
</div>
<div class="row PriColumna ">
    <h4 style="color: #b3852d !important; font-size: 20px !important; margin-left: 1%;">4. Disco </h4>


    <div class="row  " id="contenido" style="padding-top: -2px !important;">
        <div class="col-9 animate__animated animate__flash  PriColumna mt-3" style="margin-left: -9%; padding-top: 0%">
            <h4 style="color: #b3852d !important; font-size: 20px !important; margin-left: 3%;">Resorte de amortiguación</h4>
            <p style=" font-size: 15px !important; margin-left: 3%;">1. Amortiguan el impacto de la fuerza rotacional durante el enganche y el impacto de la fuerza de rotación de las ruedas de tracción generado por baches en el camino mientras se conduce.</p>

        </div>
        <div class="row">
            <div class="col-6 mt-3 animate__animated animate__flash " style="padding-left: 4%;">
                <!-- <p><input type="image"  name="botondeenvio" src="images/ImgCurso/Imagen 37.jpg" alt=""
                    style=" height: 213px; margin-top: -46px; margin-left: -51%;"></p>-->
                <img class="img-fluid" src="images/ImgCurso/Imagen 37.jpg" alt="">
            </div>


        </div>
    </div>