<footer class="footerLogin">
	<div> 
		<p style="text-align-last: end;"><b style=" margin-right: 60%; color:#B8870D">ISUZU SERVICE TRAINING PROGRAM</b></p>
	</div>
<hr style="">
<div class="row">
	<div>
	   <img class="animate__animated animate__heartBeat" src="images/isuzu.png" alt="" style="padding-top: inherit;" >
	 </div>
	 <div class="ml-auto p-5 " style= "margin-top: -2%">
		<p ><b  style="color:#B8870D">BIENVENIDO</b><br><b style="color:white; font-size: x-large;">ANDREA GAITAN </b></p> 
				
	 </div>
</div>		
	

</footer>