<head>
	<title>WBT</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css?v=<?php echo md5(time()); ?>" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/fuente.css?v=<?php echo md5(time()); ?>">
    <link href="assets/css/demo.css?v=<?php echo md5(time()); ?>" rel="stylesheet">
	<link href='assets/css/basic.css' rel='stylesheet' media='screen' />
	<link rel="stylesheet" type="text/css" href="assets/css/wbt.css?v=<?php echo md5(time()); ?>">
    <link href="assets/css/introjs.css?v=<?php echo md5(time()); ?>" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css?v=<?php echo md5(time()); ?>" rel="stylesheet">
</head>