<div class="pos-f-t">
	<nav class="navbar navbar-dark" >
		<div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(39 41 44) !important;">
            <span class="navbar-toggler-icon"></span>
            </button>&nbsp;&nbsp;&nbsp;
            <img class="animate__animated animate__heartBeat" src="images/nivel1.png" alt="" style="height: 65px;">
	    </div>
	    <div class="tituloCabezera"> 
	    	<h4 class="h4">WBT CONOCIMIENTO</h4>
	    	<h4 class="h4-1">BÁSICO DE MOTORES</h4>
	    </div>
        <div class="ml-auto">
        	<a href="../index.php" title="">
        		<button type="button" class="bordesolido text_dorado">SALIR<i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size: x-large;margin-left: 10px;"></i></button>
        	</a>	
        </div>
	</nav>
	<div class="collapse" id="navbarToggleExternalContent" style="width: max-content;position: absolute;font: -webkit-control !important;visibility: hidden;z-index: 2;">
		<div class="bg-dark p-4 menuTop">
		  <a>
		  	CONOCIMIENTO BÁSICO DE MOTOR
            <span class="border border-top"></span>
	        <span class="border border-right"></span>
	        <span class="border border-bottom"></span>
	        <span class="border border-left"></span>
		  </a>
		  <p>
		  	<strong>
		  	  MOTORES DE COMBUSTIÓN INTERNA Y EXTERNA <br>
		  	  FUNCIONAMIENTO DE MOTORES DE COMBUSTIÓN INTERNA
		  	</strong>
		  </p>
		  <a>CICLO DE 4 TIEMPOS Y 2 TIEMPOS
		       <span class="border border-top"></span>
	           <span class="border border-right"></span>
	           <span class="border border-bottom"></span>
	           <span class="border border-left"></span>
		  </a>
		  <p>
		  	<strong>
		  	  MOTOR DE CICLO DE 4 TIEMPOS <br>
		  	  MOTOR DE CICLO DE 2 TIEMPOS
		  	</strong>
		  </p>
		  <a>
		       TIEMPO VALVULAR
		       <span class="border border-top"></span>
	           <span class="border border-right"></span>
	           <span class="border border-bottom"></span>
	           <span class="border border-left"></span>
		  </a>
		  <p>
		  	<strong>
		  	  TIEMPO VALVULAR 
		  	</strong>
		  </p>
		  <a>
		         MOTORES A DIESEL Y GASOLINA
		         <span class="border border-top"></span>
	             <span class="border border-right"></span>
	             <span class="border border-bottom"></span>
	             <span class="border border-left"></span>
		  </a>
		  <p>
		  	<strong>
		  	  MOTOR A GASOLINA <br>
		  	  MOTOR A DIESEL
		  	</strong>
		  </p>
		  <a>
		           CICLO TEÓRICO DEL MOTOR DE COMBUSTIÓN INTERNA
		           <span class="border border-top"></span>
	               <span class="border border-right"></span>
	               <span class="border border-bottom"></span>
	               <span class="border border-left"></span>
		  </a>
		  <p>
		  	<strong>
		  	  CICLO DE VOLUMEN CONSTANTE <br>
		  	  CICLO DE PRESION CONSTANTE Y CICLO MEXCLADO
		  	</strong>
		  </p>
		  <a>
		         CARACTERISTICAS DEL MOTOR DIESEL
		         <span class="border border-top"></span>
	             <span class="border border-right"></span>
	             <span class="border border-bottom"></span>
	             <span class="border border-left"></span>
		   </a>
		  <p>
		  	<strong>
		  	  COMBUSTIÓN DEL MOTOR DIESEL <br>
		  	  DETONACIÓN O CASCABELEO DEL MOTOR DIESEL
		  	</strong>
		  </p>
		</div>
	</div>
</div>