<div class="row" id="filaTitulo">
    <div class="col-7 animate__animated animate__bounceInLeft">
        <h2>REPASO</h2>
    </div>
</div>
<div class="row" id="contenido">
    <div class="col-8 mt-3 PriColumna animate__animated animate__zoomIn">
        <p>Seleccione la respuesta correcta.</p>
        <p>El técnico A afirma que las herramientas de precisión pueden necesitar calibración. El técnico B afirma que puedenutilizarse un bloque patrón para calibrar un micrómetro.</p>
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="images/ImgCurso/md2_pre3.png" alt="">
            </div>
        </div>
        <div class="row" style="padding-left: 14px; padding-right: 14px;">
            <div id="opc31" onclick="IrPre(3,1);" class="col-5 opNivel repuesta" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>A. Soló el técnico A</h5>
            </div>
            <div class="col-2"></div>
            <div id="opc32" onclick="IrPre(3,2);" class="col-5 opNivel repuesta" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>B. Soló el técnico B</h5>
            </div>
        </div>
        <div class="row" style="padding-left: 14px; padding-right: 14px;">
            <div id="opc33" onclick="IrPre(3,3);" class="col-5 opNivel" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>C. Tanto el técnico A y B</h5>
            </div>
            <div class="col-2"></div>
            <div id="opc34" onclick="IrPre(3,4);" class="col-5 opNivel repuesta" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>D. Ninguno de los dos</h5>
            </div>
        </div>
    </div>
    <!-- <div class="col-2 conBtnSig animate__animated animate__zoomIn" style="padding-left: 32% !important;">
        <div class="text-center" >
            <a href="../modulo3/" title="">
                <button class="btn_siguiente" style="display: none">SIGUIENTE</button>
            </a>
        </div>
    </div> -->
</div>
<div class="col-2"></div>

</div>