<div class="row" id="filaTitulo">
    <div class="col-7 animate__animated animate__bounceInLeft">
        <h2>REPASO</h2>
    </div>
</div>
<div class="row" id="contenido">
    <div class="col-8 mt-3 PriColumna animate__animated animate__zoomIn">
        <p>Seleccione la respuesta correcta.</p>
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="images/ImgCurso/md2_pre2.png" alt="">
            </div>
        </div>
        <div class="row" style="padding-left: 14px; padding-right: 14px;">
            <div id="opc21" onclick="IrPre(2,1);" class="col-5 opNivel repuesta" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>A. 10.0 pulgadas</h5>
            </div>
            <div class="col-2"></div>
            <div id="opc22" onclick="IrPre(2,2);" class="col-5 opNivel" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>B. 9.84 pulgadas</h5>
            </div>
        </div>
        <div class="row" style="padding-left: 14px; padding-right: 14px;">
            <div id="opc23" onclick="IrPre(2,3);" class="col-5 opNivel repuesta" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>C. 6,350 pulgadas</h5>
            </div>
            <div class="col-2"></div>
            <div id="opc24" onclick="IrPre(1,4);" class="col-5 opNivel repuesta" style="border-radius: 100px 0px 100px 0px !important;">
                <h5>D. 10,25 pulgadas</h5>
            </div>
        </div>
    </div>
</div>
<div class="col-2"></div>
</div>