<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>VOLTAJE Y CORRIENTE</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 3%;  font-size: 20px;">
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Fuerza electromotriz y suministro de potencia <br> </h4>
            <p style="margin-bottom: revert;">La Fuerza Electromotriz (FEM) denota el tipo de potencia eléctrica utilizada para mantener el flujo continuo de electrones a través de cables eléctricos.
            </p>
            <p>Para mantener el flujo continuo de agua desde el Tanque A hacia el Tanque B, como se muestra en la (Figura 6), se debe contar con los medios para mantener la diferencia de nivel de agua entre los dos tanques.</p>
            <P>Los mismo aplica para la electricidad, es decir, se deben proporcionar los medios para mantener la diferencia de potencial o voltaje.</P>

        </div>

    </div>


    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 15%; ">

            <div class="col-12" style=" margin-left: 0%; padding-top: 11%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 15.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s" style="height: 69%;">

            </div>
        </div>
    </div>

</div>