<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>LEY DE OHM – FORMULAS DE CÁLCULO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-8  PriColumna" style=" padding-left: 15%;">
        <img src="images/ImgCurso/Imagen 48.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s" style="margin-left: 20%;">

    </div>