<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">CIRCUITO DE CORRIENTE DIRECTA DC</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 0%;  font-size: 17px;">
            <p>Lo siguiente describe el uso de la palabra “carga”.</p>
            <ul class="ulM5">
                <li>
                    <p>Carga grande (carga pesada) > corriente grande > resistencia pequeña (gran vatiaje).</p>
                </li>
                <li>
                    <p>Carga pequeña (carga liviana) > corriente pequeña > resistencia (pequeño vatiaje).</p>
                </li>
            </ul>
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">CARGA<br> </h4>
            <p style="margin-bottom: revert;">Una carga denota un equipo eléctrico que opera con corriente desde una fuente de suministro. Ver Figura 9.</p>

        </div>
        <div class="col-9" style=" margin-left: 0%; padding-top: 0%; ">
            <img src="images/ImgCurso/Imagen 52.jpg" alt="" class=" " style="height: 209px;">

        </div>

    </div>


    <div class="col-6  mt-3">
        <div class="row animate__animated animate__bounceInRight animate__delay-3s" style="padding-left: 15%; ">
            <div class="col-12" style=" margin-left: 0%; padding-top: 8%;  font-size: 17px;">
                <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">CORTO CIRCUITO Y CIRCUITO ABIERTO
                    <br> </h4>
                <p class="" style="margin-bottom: revert;">Un corto circuito hace referencia a una conexión involuntaria entre dos puntos que tienen niveles de potencial diferente, usando un conductor con una resistencia extremadamente pequeña (0 ohm). Un corto circuito conduce una gran cantidad
                    de corriente, por el contrario, un circuito se puede desconectar (contacto inapropiado) deteniendo el flujo de corriente. Este estado de circuito se llama circuito abierto.</p>

            </div>
            <div class="col-11" style=" margin-left: 2%; padding-top: 12%; ">
                <img src="images/ImgCurso/Imagen 53.jpg" alt="" class=" img-fluid " style="height: 227px;">

            </div>

        </div>
    </div>

</div>