<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>LEY DE OHM – FORMULAS DE CÁLCULO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna" style="padding-top: 0%;">

        <div class="col-12" style=" margin-left: -3%; padding-top: 0%;">

            <img src="images/ImgCurso/Imagen 33.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
        </div>

    </div>

    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 10%; ">

            <div class="col-4" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 34.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>
            <div class="col-4" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 35.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-3s">
            </div>
            <div class="col-4" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 36.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-4s">
            </div>
        </div>
    </div>

</div>