<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">RESISTENCIA</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 0%;  font-size: 20px;">
            <p style="margin-bottom: revert;">Tamaño del conductor y resistencia (Aplica la misma relación que la que se obseva entre el nivel del agua y la longitud y diámetro del tubo)
            </p>

        </div>
        <div class="col-11" style=" margin-left: 0%; padding-top: 0%; ">
            <img src="images/ImgCurso/Imagen 16.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s" style="height: 227px;">

        </div>

    </div>


    <div class="col-5  mt-3">
        <div class="row" style="padding-left: 15%; ">
            <div class="col-12" style=" margin-left: 0%; padding-top: 8%;  font-size: 20px;">
                <p class="animate__animated animate__bounceInRight animate__delay-3s" style="margin-bottom: revert;">La fuerza que impide el flujo de la corriente eléctrica se llama resistencia o resistencia eléctrica.
                </p>
                <p class="animate__animated animate__bounceInRight animate__delay-4s" style="margin-bottom: revert;">Al igual que el agua que fluye a través de las tuberías encuentra diferentes niveles de resistencia dependiendo del diámetro y la longitud </p>
                <p class="animate__animated animate__bounceInRight animate__delay-5s" style="margin-bottom: revert;">Un conductor grueso puede conducir más corriente que uno delgado y uno corto admite más corriente que uno largo.</p>

            </div>

        </div>
    </div>

</div>