<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>CONDUCTORES DE ELECTRICIDAD</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <p>Los materiales se categorizan en los siguientes grupos desde el punto de vista de su conductividad:
            </p>
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 18px !important;">Conductores<br></h4>
            <p style="margin-bottom: revert;">Permiten mejor flujo de corriente <br> (o tienen menor resistencia).</p>

            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 18px !important;">Aislantes<br></h4>
            <p style="margin-bottom: revert;">No permiten el flujo de corriente <br> (o tienen alta resistencia).</p>
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 18px !important;">Semiconductores<br></h4>
            <p style="margin-bottom: revert;">Su conductividad cambia según <br> la variación de las condiciones.</p>
            <p>Conductor, temperatura y resistencia (ver figura 8)</p>
        </div>

    </div>


    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;;">
                <img src="images/ImgCurso/Imagen 20.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">

            </div>
        </div>
    </div>

</div>