<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>VOLTAJE Y CORRIENTE</h2>
    </div>
</div>
<div class="" id="contenido">

    <div class="row" style="">
        <div class="col-12 PriColumna" style=" margin-left: 0%; padding-top: 2%; ">
            <p style="font-size: 25px;">Relación entre Voltaje, Potencial, Diferencia de Potencial y Corriente.</p>

            <img src="images/ImgCurso/Imagen 13.jpg" alt="" class="animate__animated animate__bounceInRight animate__delay-1s" style=" width: 87%;">
        </div>


    </div>
    <!--    flechas hacia abajo   -->
    <div class="row animate__animated animate__bounceInRight animate__delay-2s">
        <div id="1" class="col-md-6 flechaAlante" style="text-align: center;">
            <img src="images/ImgCurso/IMAGENES-33.jpg" alt="" id="img1" style="cursor:pointer">
        </div>
        <div id="2" class="col-md-6" style="text-align: center;">
            <img src="images/ImgCurso/IMAGENES-33.jpg" alt="" id="img2" style="cursor:pointer">
        </div>


    </div>
    <!--  FIN  flechas hacia abajo   -->
    <div class="row">
        <div id = "a1" class="col-6 " style=" margin-left: 0%; padding-top: 2%;  font-size: 25px; padding-left: 8%;">
            <div id="im1" class="" style="display: none; text-align: right;">

                <ul class="ulM5">
                    <li>
                        <p> Dos tanques de agua están conectados por un tubo (figura 1).</p>
                    </li>
                    <li>
                        <p> El agua fluye desde en tanque más alto (Tanque A) hacia el tanque más bajo (Tanque B).</p>
                    </li>
                    <li>
                        <p> Nivel de agua > Potencial</p>
                    </li>
                    <li>
                        <p> Diferencia de Nivel > Diferencia de Potencial (voltaje)</p>
                    </li>
                </ul>

            </div>
        </div>



        <div id="a2" class="col-6" style=" margin-left: -1%; padding-top: 2%;  font-size: 25px; padding-left: 8%;">
            <div id="im2" class="" style="display: none;">
                <ul class="ulM5">
                    <li>
                        <p>Flujo de agua > Corriente</p>
                    </li>
                    <li>
                        <p>La diferencia de potencial generalmente se conoce como Voltaje (Figura 2).</p>
                    </li>
                    <li>
                        <p>Debe haber una diferencia de potencial para causar un flujo de corriente eléctrica.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>