<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>CONEXIÓN DE RESISTENCIAS EN SERIE</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna">
        <div class="col-11" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <ul class="ulM5">
                <li class="animate__animated animate__fadeInDown animate__delay-1s">
                    <p>La conexión en serie conecta las resistencias en una sola línea.</p>
                </li>
                <li class="animate__animated animate__fadeInDown animate__delay-1s">
                    <p>Cuando las resistencias se conectan en serie, su resistencia combinada es igual a la suma de cada resistencia.</p>
                </li>
                <li class="animate__animated animate__fadeInDown animate__delay-3s">
                    <p>Cuando cada resistencia se conecta en serie, su resistencia combinada es igual a la suma de cada resistencia.</p>
                </li>
                <li class="animate__animated animate__fadeInDown animate__delay-3s">
                    <p>Si la resistencia se incrementa, el flujo de agua en los tanques se restringe (+ resistencia) y el resultado será el incremento de la resistencia general.
                    </p>
                </li>

            </ul>

        </div>

    </div>
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 27.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 28.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-3s">
            </div>
        </div>
    </div>

</div>