<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">ELECTROMAGNETISMO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 19px !important;">REGLA DE LA MANO DERECHA Y EL PULGAR<br></h4>
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Regla de la mano derecha
            <br></h4>

        <p style="margin-bottom: revert;">Ciertos minerales (mineral de hierro magnético, por ejemplo) tiene la propiedad de atraer piezas de hierro o de ser atraídas por ellas. <br> Esta propiedad se llama magnetismo y los materiales que tienen esta propiedad se llaman imanes.</p>

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Regla de la mano derecha y el pulgar <br> </h4>
        <p style="margin-bottom: revert;">Cuando los cuatro dedos de la mano derecha señalan la dirección del flujo de la corriente por la bobina, el dedo pulgar indica la dirección del flujo magnético de la corriente que está pasando por la bobina (la terminal a la cual apunta el pulgar
            es el polo N). Esta es conocida como Regla de la mano derecha y el pulgar.
        </p>
    </div>
    <div class="col-6  mt-3">
        <div class="row animate__animated animate__bounceInRight animate__delay-2s" style="padding-left: 15%; ">
            <div class="col-10" style=" margin-left: 22%; padding-top: 0%; ">
                <img src="images/ImgCurso/Imagen 57.jpg" alt="" class=" img-fluid ">
            </div>

        </div>
    </div>

</div>