<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>LEY DE OHM – FORMULAS DE CÁLCULO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-12  PriColumna" style="padding-top: 0%;">
        <div class="row">
            <div class="col-5" style=" margin-left: 2%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 42.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-5" style=" margin-left: 2%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 43.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>
        </div>



        <div class="col-10 animate__animated animate__fadeInDown animate__delay-1s mt-3">
            <div class="row" style="padding-left: 10%; margin-bottom: -11%; ">

                <div class="col-4" style=" margin-left: 0%; padding-top: 5%;">
                    <img src="images/ImgCurso/Imagen 44.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-3s">
                </div>
                <div class="col-4" style=" margin-left: -6%; padding-top: 5%;">
                    <img src="images/ImgCurso/Imagen 45.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-4s" style="height: 48%; margin-left: 29%; ">
                </div>
                <div class="col-4" style=" margin-left: 5%; padding-top: 5%;">
                    <img src="images/ImgCurso/Imagen 46.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-5s">
                </div>
            </div>
        </div>

        <div class="col-10 ">
            <div class="row" style="padding-left: 10%; ">
                <div class="col-5" style=" margin-left: 36%; padding-top: 0%;">
                    <img src="images/ImgCurso/Imagen 47.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-5s">
                </div>

            </div>
        </div>

    </div>