<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>AISLANTES DE ELECTRICIDAD</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">
        <div class="col-10" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 18px !important;">TIPOS DE AISLANTES UTILIZADOS EN VEHÍCULOS<br></h4>
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 18px !important;">Gases<br></h4>
            <p style="margin-bottom: revert;">El aire natural es principalmente un gas, capaz de aislar voltajes de 1000V en un espacio de 1 mm a temperatura ambiente.</p>

            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 18px !important;">Líquidos<br></h4>
            <p style="margin-bottom: revert;">Algunos aceites son utilizados principalmente como aislantes eléctricos. <br> El Agua pura o (destilada) es aislante. Pero normalmente cuando contiene impurezas permite el flujo de corriente a través de ella.</p>
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 18px !important;">Solidos<br></h4>
            <p style="margin-bottom: revert;">Muchos materiales se usan selectivamente como aislantes dependiendo de sus características. La tabla muestra algunos de los materiales utilizados en el automóvil.
            </p>
        </div>

    </div>
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;;">
                <img src="images/ImgCurso/Imagen 22.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">

            </div>
        </div>
    </div>

</div>