<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">ELECTROMAGNETISMO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna" style="font-size: 17px;">
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">LEY DE LA MANO IZQUIERDA O DE FLEMING<br> </h4>
        <p>Esta ley es usada, por ejemplo, para determinar la dirección de la fuerza generada en los motores y también para entender la operación de diversos tipos de instrumentos.
        </p>
        <p>El principio de funcionamiento de los motores de arranque en los automóviles se puede entender a profundidad haciendo referencia a esta ley.</p>
        <p>Cuando se conduce una corriente eléctrica a través de una bobina que se encuentra ubicada entre los polos magnéticos N y S de un imán, la bobina gira en dirección de las manecillas del reloj.</p>
        <p>El lado A de la bobina recibe una fuerza hacia abajo, como se explica en la ley de la mano izquierda de Fleming.</p>
    </div>
    <div class="col-5  mt-3">
        <div class="row animate__animated animate__bounceInRight animate__delay-2s" style="padding-left: 15%; ">
            <div class="col-12" style=" margin-left: 7%; padding-top: 0%; ">
                <img src="images/ImgCurso/Imagen 60.jpg" alt="" class=" img-fluid ">
            </div>
        </div>
    </div>
</div>