<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>RESISTENCIA</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 3%;  font-size: 20px;">
            <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">ALTA RESISTENCIA ENTRE CONTACTOS <br> </h4>
            <p style="margin-bottom: revert;">Sí un interruptor permanece en el punto de contacto por un prolongado periodo de tiempo el flujo de corriente se verá disminuido (Figura).</p>
            <p>Esto es debido a la resistencia generada en este punto.
            </p>
            <p>Esta resistencia es llamada resistencia de contacto.
            </p>

        </div>

    </div>


    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 15%; ">

            <div class="col-12" style=" margin-left: 0%; padding-top: 11%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 18.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s" style="height: 69%;">

            </div>
            <div class="col-12" style=" margin-left: 0%; padding-top: 5%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 19.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s" style="height: 69%;">

            </div>
        </div>
    </div>

</div>