<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>SEMICONDUCTORES DE ELECTRICIDAD</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">
        <div class="col-11" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <ul class="ulM5">
                <li>
                    <p>Los semiconductores trabajan como conductores y como aislantes, dependiendo de la temperatura y el voltaje.</p>
                </li>
                <li>
                    <p>La relación existente entre temperatura y resistencia en los semiconductores es inversa.
                    </p>
                </li>
                <li>
                    <p>Baja temperatura en el semiconductor incrementa su resistencia.</p>
                </li>
                <li>
                    <p>Alta temperatura en el semiconductor disminuye su resistencia.</p>
                </li>

            </ul>

        </div>

    </div>
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;;">
                <img src="images/ImgCurso/Imagen 24.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">

            </div>
        </div>
    </div>

</div>