<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">ELECTROMAGNETISMO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna" style="font-size: 17px;">

        <p>Usted puede fabricar un imán temporal extremadamente poderoso insertando un núcleo (que facilita la conducción del magnetismo) a través de una bobina.</p>
        <p>Se diferencia de los imanes permanentes, porque su campo magnético desaparece cuando deja de circular corriente por la bobina.</p>
        <p>Los polos magnéticos en este tipo de imanes son determinados por la dirección del flujo de la corriente.
        </p>
    </div>
    <div class="col-6  mt-3">
        <div class="row animate__animated animate__bounceInRight animate__delay-2s" style="padding-left: 15%; ">
            <div class="col-6" style=" margin-left: 32%; padding-top: 0%; ">
                <img src="images/ImgCurso/Imagen 58.jpg" alt="" class=" img-fluid ">
            </div>
            <div class="col-8" style=" margin-left: 22%; padding-top: 0%; ">
                <img src="images/ImgCurso/Imagen 59.jpg" alt="" class=" img-fluid ">
            </div>

        </div>
    </div>

</div>