<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>DIAGRAMA DE CIRCUITO ELÉCTRICO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <p>En los diagramas de los circuitos eléctricos se usan símbolos predeterminados, como se ve en la figura de la derecha.</p>
            <p style="margin-bottom: revert;">Cuando una lámpara se conecta a la batería, como se muestra en la figura, la corriente fluye desde el terminal positivo (+) de la batería a través del cable, pasa por el interruptor y el fusible, y alcanza el terminal negativo (-) de la batería.</p>

            <p style="margin-bottom: revert;">Dentro de la batería la corriente fluye desde negativo (-) hacia positivo (+).</p>

        </div>

    </div>

    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">
            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 26.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">

            </div>
        </div>
    </div>

</div>