<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>CONEXIÓN DE RESISTENCIAS EN PARALELO
        </h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna">
        <div class="col-12" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <p>La conexión en paralelo conecta ambos terminales de las resistencias en común.</p>
            <ul class="ulM5">
                <li class="animate__animated animate__fadeInDown animate__delay-1s">
                    <p>Cuando se conecta en paralelo cada resistencia, su resistencia combinada se hace más pequeña que cualquiera de las resistencias individuales.</p>
                </li>
                <li class="animate__animated animate__fadeInDown animate__delay-2s">
                    <p>Cuando dos o más resistencias de mismo valor se conectan en paralelo, su resistencia combinada es igual al valor de una sola dividido por el número de resistencias conectadas.
                    </p>
                </li>
                <li class="animate__animated animate__fadeInDown animate__delay-4s">
                    <p>La conexión en paralelo facilita el flujo de agua, reduciendo la resistencia general como se puede observar en la gráfica de la izquierda.</p>
                </li>

            </ul>

        </div>

    </div>
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 29.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 30.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>
            <div class="col-10" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 31.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-4s">
            </div>
        </div>
    </div>

</div>