<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">ELECTROMAGNETISMO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 19px !important;">AUTO INDUCCIÓN<br></h4>
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;"><br></h4>

        <p style=>La fuerza contra electromotriz resultante de la auto inducción tiene las siguientes características:</p>

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Dirección de la fuerza contra electromotriz<br> </h4>
        <p style="margin-bottom: revert;">La fuerza electromotriz es generada en la dirección que evite que ocurran cambios en la corriente que está pasando a través de la bobina.</p>
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Magnitud de la fuerza electromotriz
            <br> </h4>
        <p style="margin-bottom: revert;">La Magnitud de la fuerza electromotriz se puede intensificar introduciendo grandes cambios a la corriente o reduciendo el tiempo requerido para estos cambios.</p>
    </div>
    <div class="col-7  mt-3">
        <div class="row animate__animated animate__bounceInRight animate__delay-2s" style="padding-left: 15%; ">
            <div class="col-12" style=" margin-left: 0%; padding-top: 21%; ">
                <img src="images/ImgCurso/Imagen 65.jpg" alt="" class=" img-fluid ">
            </div>
        </div>
    </div>
</div>