<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">ELECTROMAGNETISMO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">PROPIEDADES DEL MAGNETISMO
            <br> </h4>
        <p style="margin-bottom: revert;">Ciertos minerales (mineral de hierro magnético, por ejemplo) tiene la propiedad de atraer piezas de hierro o de ser atraídas por ellas. <br> Esta propiedad se llama magnetismo y los materiales que tienen esta propiedad se llaman imanes.</p>

        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Los imanes tiene polos magnéticos
            <br> </h4>
        <p style="margin-bottom: revert;">Los polos magnéticos hacen referencia a los lugares donde este magnetismo es más fuerte. Los polos magnéticos son polo N (norte) y polo S (sur).</p>
        <h4 style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">Los polos magnéticos emiten líneas magnéticas<br> </h4>
        <p style="margin-bottom: revert;">Las líneas magnéticas son emitidas desde los polos magnéticos, estas líneas virtuales se denominan flujo magnético.</p>
    </div>
    <div class="col-6  mt-3">
        <div class="row animate__animated animate__bounceInRight animate__delay-2s" style="padding-left: 15%; ">
            <div class="col-10" style=" margin-left: 4%; padding-top: 0%; ">
                <img src="images/ImgCurso/Imagen 55.jpg" alt="" class=" img-fluid ">
            </div>

        </div>
    </div>

</div>


</div>