<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2 style="font-weight: bolder;">CAÍDA DE VOLTAJE/POTENCIA Y ENERGÍA ELÉCTRICA</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">
        <div class="col-5" style=" margin-left: -6%; padding-top: 0%; ">
            <img src="images/ImgCurso/Imagen 54.jpg" alt="" class=" " style="height: 208px; width: 300%;">

        </div>
        <div class="col-12" style=" margin-left: 0%; padding-top: 0%;  font-size: 17px;">
            <p>1W denota una corriente de 1A generada por una tensión de 1V. <br> La relación existente entre potencia (P), voltaje (E) y corriente (I) <br> Se expresa como sigue: P (W) = I x E <br> Energía eléctrica (WH) = Potencia (W) x Tiempo (H) .</p>


        </div>


    </div>


    <div class="col-6  mt-3">
        <div class="row " style="padding-left: 15%; ">
            <div class="col-12" style=" margin-left: 0%; padding-top: 8%;  font-size: 17px;">

                <h4 class="animate__animated animate__bounceInRight animate__delay-1s" style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">CAÍDA DE VOLTAJE
                    <br> </h4>
                <p class="animate__animated animate__bounceInRight animate__delay-1s" style="margin-bottom: revert;">El voltaje aplicado a la lámpara es disminuido porque existe una caída de tensión por la resistencia de contacto existente entre el fusible y su conector, como se muestra en la Figura.</p>
                <h4 class="animate__animated animate__bounceInRight animate__delay-2s" style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">POTENCIA Y ENERGÍA ELÉCTRICA <br> POTENCIA
                    <br> </h4>
                <p class="animate__animated animate__bounceInRight animate__delay-2s">La energía requerida para realizar un cierto trabajo por 1 segundo es llamada potencia eléctrica. <br> Su símbolo es P y la unidad de medida es el W (watt).
                </p>
                <h4 class=" animate__animated animate__bounceInRight animate__delay-3s" style="color: #b3852d !important; font-weight: bolder; font-size: 20px !important;">ENERGÍA ELÉCTRICA <br></h4>
                <p class="animate__animated animate__bounceInRight animate__delay-3s">Energía eléctrica denota una cantidad de trabajo realizado en un determinado tiempo con un nivel específico de potencia. <br> WH (watt hora) es usada como unidad.</p>

            </div>


        </div>
    </div>

</div>