<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>VOLTAJE Y CORRIENTE</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">
        <div class="col-12" style=" margin-left: 0%; padding-top: 3%; text-align: -webkit-left; font-size: 20px;">
            <h4 style="color: #b3852d !important; font-size: 20px !important;">Diferencia de Potencial y Corriente</h4>
            <p style="margin-bottom: revert;">El potencial de la tierra es determinado como 0V, y es usado como base para determinar el nivel de un potencial dado.
            </p>
        </div>
        <div class="recDorado" style=" top: -15px;">
            <h4 style="color: #b3852d !important; font-size: 20px !important;">Figura 4</h4>
            <p>En la metáfora del tanque, la parte inferior del tanque se puede llamar nivel básico (nivel 0). </p>
            <p>"12 voltios" representa la diferencia de potencial entre sus terminales positivo (+) y negativo (-)</p>
        </div>
        <div class="recDorado " style=" top: 20px;">
            <h4 style="color: #b3852d !important; font-size: 20px !important;">Figura 5</h4>
            <p>Los valores arriba mencionados representan el potencial en el terminal positivo (+). </p>
        </div>
        <!-- <hr style="background-color: #b3852d;position: relative; height: 1px; margin-left: -23%; margin-right: -23%;"> -->

    </div>
    <div class="col-1"></div>

    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 15%;">

            <div class="col-10" style=" margin-left: -9%; padding-top: 2%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 14.jpg" alt="" class=" animate__animated animate__bounceInRight animate__delay-2s" style="width: 123%;">

            </div>
        </div>
    </div>

</div>