<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>LEY DE OHM – FORMULAS DE CÁLCULO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-12  PriColumna" style="padding-top: 0%;">
        <div class="row">
            <div class="col-8" style=" margin-left: 10%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 49-1.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>

        </div>



        <div class="col-12 animate__animated animate__fadeInDown animate__delay-1s mt-2">
            <div class="row" style="padding-left: 10%; margin-bottom: -11%; ">

                <div class="col-3" style=" margin-left: 0%; padding-top: 4%;">
                    <img src="images/ImgCurso/Imagen 49-2.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-3s">
                </div>
                <div class="col-4" style=" margin-left: -6%; padding-top: 5%;">
                    <img src="images/ImgCurso/Imagen 50.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-4s" style="height: 48%; margin-left: 29%; ">
                </div>
                <div class="col-4" style=" margin-left: 0%; padding-top: 5%;">
                    <img src="images/ImgCurso/Imagen 51.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-5s">
                </div>
            </div>
        </div>

    </div>