<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>EXAMEN</h2>
    </div>
</div>
<div class="row" id="contenido">
    <div class="col-8 mt-3 PriColumna animate__animated animate__zoomIn">
        <p style="color: #b3852d !important;">PREGUNTA 10</p>
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="images/ImgCurso/preguntas/PREGUNTAS-10.jpg" alt="">
            </div>
        </div>
        <div class="row" style="padding-left: 14px; padding-right: 14px;">
            <div class="col-5 opNivel">
                <h5 style="font-size: smaller !important;">A. Tiene igual capacidad que uno tipo esclavo</h5>
            </div>
            <div class="col-2"></div>
            <div class="col-5 opNivel">
                <h5 style="font-size: 13px !important;">B. Mayor suavidad en la operacion y funcionamiento</h5>
            </div>
        </div>
        <div class="row" style="padding-left: 14px; padding-right: 14px;">
            <div class="col-5 opNivel">
                <h5>C. Todos los camiones lo utilizan</h5>
            </div>
            <div class="col-2"></div>
            <div class="col-5 opNivel">
                <h5>D. Todas las anteriores</h5>
            </div>
        </div>
    </div>
</div>