<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>MOTOR DE ARRANQUE </h2>
    </div>
</div>

<div class="row  " id="contenido">
    <div class="row">
        <div class="col-10 animate__animated animate__flash  " style="margin-top: 2%">
            <h4 style="color: #b3852d !important;  margin-left: 13%; font-size: 20px !important;">
                Interruptor de arranque abierto &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; Interruptor de arranque cerrado </h4>

            <img class="" src="images/ImgCurso/Imagen 77-3.jpg" alt="" style="margin-left: 10%; width: 91%;">
            <div class="row" style="margin-top: -4%;margin-left: 15%;">
                <div class="col-5" style="margin-top:2%;">
                    <ol class="ulM5">
                        <li id="1" class="flechaAlante">
                            <p id="p1" style="display: none;">Bobina de campo</p>
                        </li>
                        <li id="2">
                            <p id="p2" style="display: none;">Terminal M</p>
                        </li>
                        <li id="3">
                            <p id="p3" style="display: none;">Contacto principal</p>
                        </li>
                        <li id="4">
                            <p id="p4" style="display: none;">Terminal B</p>
                        </li>
                        <li id="5">
                            <p id="p5" style="display: none;">Interruptor de arranque</p>
                        </li>
                        <li id="6">
                            <p id="p6" style="display: none;">Terminal C </p>
                        </li>
                        <li id="7">
                            <p id="p7" style="display: none;">Bobina de retracción</p>
                        </li>
                        <li id="8">
                            <p id="p8" style="display: none;">Émbolo</p>
                        </li>
                        <li id="9">
                            <p id="p9" style="display: none;">Bobina de retención</p>
                        </li>

                    </ol>
                </div>
                <div class="col-5" style="margin-left: 15%; margin-top:2%;">
                    <ol class="ulM5">
                        <li id="10" class="">
                            <p id="p10" style="display: none;">Bobina de campo</p>
                        </li>
                        <li id="11">
                            <p id="p11" style="display: none;">Terminal M</p>
                        </li>
                        <li id="12">
                            <p id="p12" style="display: none;">Contacto principal</p>
                        </li>
                        <li id="13">
                            <p id="p13" style="display: none;">Terminal B</p>
                        </li>
                        <li id="14">
                            <p id="p14" style="display: none;">Interruptor de arranque</p>
                        </li>
                        <li id="15">
                            <p id="p15" style="display: none;">Terminal C </p>
                        </li>
                        <li id="16">
                            <p id="p16" style="display: none;">Bobina de retracción</p>
                        </li>
                        <li id="17">
                            <p id="p17" style="display: none;">Émbolo</p>
                        </li>
                        <li id="18">
                            <p id="p18" style="display: none;">Fuerza</p>
                        </li>
                        <li id="19">
                            <p id="p19" style="display: none;">Bobina de retención</p>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>


</div>