<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>ALTERNADOR (ACG)</h2>
    </div>
</div>

<div class="row  " id="contenido">
    <div class="row">
        <div class="col-12 animate__animated animate__flash  " style="margin-top: 2%; margin-bottom: -25%;">
            <img class="" src="images/ImgCurso/Imagen 78.jpg" alt="" style="margin-top: -25px; height: 22%; margin-left: 6%; margin-bottom: 0%;">
            <img class="" src="images/ImgCurso/Imagen 79.jpg" alt="" style="margin-top: 0px; height: 22%; margin-left: 0%; margin-bottom: 0%;">
            <img class="" src="images/ImgCurso/Imagen 80.jpg" alt="" style="margin-top: 0px; height: 22%; margin-left: 0%; margin-bottom: 0%;">

            <div class="row" style="margin-top: 0%;margin-left: 10%;">
                <ol class="ulM5">
                    <h4 style="color: #b3852d !important;  margin-left: 13%; font-size: 20px !important;">ALTERNADOR</h4>
                    <li id="1" class="flechaAlante">
                        <p id="p1" style="display: none;">Bobina de campo</p>
                    </li>
                    <li id="2">
                        <p id="p2" style="display: none;">Terminal M</p>
                    </li>
                    <li id="3">
                        <p id="p3" style="display: none;">Contacto principal</p>
                    </li>
                    <li id="4">
                        <p id="p4" style="display: none;">Terminal B</p>
                    </li>
                    <li id="5">
                        <p id="p5" style="display: none;">Interruptor de arranque</p>
                    </li>
                    <li id="6">
                        <p id="p6" style="display: none;">Terminal C </p>
                    </li>

                </ol>

                <ol class="ulM5" style="padding-left: 17%;">
                    <h4 style="color: #b3852d !important;  margin-left: 13%; font-size: 20px !important;">ROTOR</h4>

                    <li id="7" class="">
                        <p id="p7" style="display: none;">Bobina de campo</p>
                    </li>
                    <li id="8">
                        <p id="p8" style="display: none;">Terminal M</p>
                    </li>
                    <li id="9">
                        <p id="p9" style="display: none;">Contacto principal</p>
                    </li>
                    <li id="10">
                        <p id="p10" style="display: none;">Terminal B</p>
                    </li>
                    <li id="11">
                        <p id="p11" style="display: none;">Interruptor de arranque</p>
                    </li>

                </ol>

                <ol class="ulM5" style="padding-left: 27%;">
                    <li id="12" class="">
                        <p id="p12" style="display: none;">Bobina de campo</p>
                    </li>
                    <li id="13">
                        <p id="p13" style="display: none;">Terminal M</p>
                    </li>
                    <li id="14">
                        <p id="p14" style="display: none;">Contacto principal</p>
                    </li>
                    <li id="15">
                        <p id="p15" style="display: none;">Terminal B</p>
                    </li>

                </ol>

            </div>

        </div>

    </div>

</div>