<div class="col-8 animate__animated animate__bounceInLeft animate__delay-1s" style="margin-top: 6%; margin-left: 8%;">
    <div class="" style=" padding-bottom: 25%;">
        <h4 class="h4"><b style="color: #ffff !important; font-size: 50px !important;">MOTORES</b></h4>
        <h4 class="h4-1"> <b style="color: #b3852d !important; font-size: 50px !important;">ELÉCTRICOS</b></h4>
    </div>
</div>