<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>CONEXIÓN
        </h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna">
        <div class="col-12 animate__animated animate__fadeInDown animate__delay-1s" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <h4 style="color: #b3852d !important; font-size: 24px !important;">Procedimiento de conexión: </h4>
            <ol>
                <li>
                    <p>Conecte un extremo del cable de refuerzo rojo al terminal positivo de la batería del vehículo con la batería descargada.
                    </p>
                </li>

                <li>
                    <p>Conecte el otro extremo del cable rojo al terminal positivo de la batería del vehículo de rescate.</p>
                </li>
                <li>
                    <p>Conecte un extremo del cable de refuerzo negro al terminal negativo de la batería del vehículo de rescate.</p>
                </li>

                <li>
                    <p>Conecte el otro extremo del cable negro a una parte metálica de masa del motor del vehículo con la batería descargada y arranque el motor del vehículo de rescate.</p>
                </li>

                <li>
                    <p>Espere un minuto y de arranque al motor del vehículo con la batería descargada.</p>
                </li>
            </ol>

        </div>

    </div>
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3" style="padding-left: 5%;">
        <div class="row" style="padding-left: 5%; ">
            <div class="col-5" style=" margin-left: 0%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 106.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-8" style=" margin-left: 0%; padding-top: 0%;">
                <img src="images/ImgCurso/Imagen 107.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>

        </div>
    </div>
</div>