<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>CONEXIÓN</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-7  mt-3 PriColumna">
        <div class="col-10 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <h4 style="color: #b3852d !important; font-size: 24px !important;">Forma del conector y Forma de los terminales</h4>
            <p>Se indican los conectores que son cables de conexión:
            </p>
            <ul class="ulM5">
                <li>Conector hembra <br>
                    <p>se refiere a que todos los terminales que lleva son hembras.</p>
                </li>
                <li> Conector macho <br>
                    <p>Se refiere a que todos los terminales que lleva son machos.</p>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">
            <div class="col-12" style=" margin-left: -8%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 103.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>

        </div>
    </div>

</div>