<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>TAMAÑO DEL CABLE</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna">
        <div class="col-10 animate__animated animate__fadeInDown animate__delay-1s" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <p>El tamaño de cable usado en un circuito está determinado por la cantidad máxima de corriente (amperaje) que pasa por el circuito, la longitud del circuito, y la caída de voltaje permitida.</p>
            <p>La tabla de la derecha muestra la codificación según la AWG (American Wire Gauge), relacionando el tamaño, dependiendo de su capacidad de carga (el tamaño nominal significa su área seccional trasversal aproximada).</p>
        </div>

    </div>
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-8" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 97.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-12" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 96.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>

        </div>
    </div>

</div>