<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>SÍMBOLOS EN LOS DIAGRAMAS ELÉCTRICOS</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-8 animate__animated animate__bounceInLeft">
        <img src="images/ImgCurso/Imagen 25.jpg" alt=""
            class="img-fluid animate__animated animate__bounceInRight animate__delay-1s" style="padding-left: 15%;
        padding-top: 7%;">
    </div>
    
</div>