<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>CONEXIÓN</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-11  mt-3 PriColumna">
        <div class="col-12 animate__animated animate__bounceInRight animate__delay-1s" style=" margin-left: 0%; padding-top: 3%;  font-size: 24px;">
            <h4 style="color: #b3852d !important; font-size: 24px !important;">Número de conector</h4>
            <p>Si un conector tiene hilos múltiples que se conectan a un componente el número del conector se indica dentro o fuera del equipo al igual que la posición del terminal correspondiente se indica junto al hilo o cable.</p>
        </div>
        <div class="col-8" style=" margin-left: 31%; padding-top: 0%;">
            <img src="images/ImgCurso/Imagen 102.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
        </div>

    </div>
</div>