<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>COLOR DEL CABLE</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna">
        <div class="col-12 animate__animated animate__fadeInDown animate__delay-1s" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <p>Los cables cumplen un código por el color de su aislamiento.</p>
            <p>Cables pertenecientes al cableado principal de un sistema, tienen un solo color.</p>
            <p>Cables pertenecientes a circuitos secundarios, tienen un color base y una línea de color.</p>
            <p>La tabla de la derecha, arriba muestra las abreviaturas de los colores, como se muestra en un diagrama eléctrico.</p>
            <p>La tabla de la derecha abajo muestra los colores base según el circuito.</p>
        </div>

    </div>
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-6" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 95.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-1s">
            </div>
            <div class="col-12" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 93.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>
            <div class="col-12" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 94.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-4s">
            </div>
        </div>
    </div>

</div>