<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>INFORMACIÓN DEL CABLEADO</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6  mt-3 PriColumna">
        <div class="col-10 animate__animated animate__fadeInDown animate__delay-1s" style=" margin-left: 0%; padding-top: 3%;  font-size: 18px;">
            <ul class="ulM5">
                <li>
                    <p> Tamaño nominal 0,5, Área de la sección del alambre calculada 0,563 mm<sup>2</sup>., diámetro exterior 2,0 mm.</p>
                </li>
                <li>
                    <p>Y/B (Amarillo / Negro) colores del cable.</p>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 5%; ">

            <div class="col-12" style=" margin-left: 0%; padding-top: 5%;">
                <img src="images/ImgCurso/Imagen 101.jpg" alt="" class=" img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>

        </div>
    </div>

</div>