body:after {
    background-color: rgb(39 41 44) !important;
}

section {
    border-radius: 11px !important;
}

#main>.inner {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 21px !important;
}

/*=============================================
           LOGIN
=============================================*/
nav {
    background: linear-gradient(to bottom, #b3852d);    
    border-radius: 15px 15px 0px 0px !important;
    height: 100px !important;
}

.bordesolido {
    border-color: #b3852d;
    ;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    height: auto !important;
}

.login {
    background-color: rgb(43 46 53) !important;
}

form {
    margin: 0 0 0rem 0 !important;
}

.inplog {
    background-color: aliceblue !important;
    color: black !important;
    width: auto !important;
    border-radius: 10px !important;
    height: 36px !important;
    margin: 7px;
}

button span {
    color: white !important;
    font-size: 25px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: #4a4848 !important;
}

/*=============================================
          FOOTER
=============================================*/
.footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    /*flex-direction: column;*/
    flex-flow: column nowrap;
    height: 250px !important;
    border-top: 0px !important;
}

.conFooter {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    /*flex-direction: row;*/
}

.ParrafoPie {
    text-align-last: end;
    margin-top: revert;
    padding-left: 40px;
}

.bPie {
    font-size: x-large;
}

.textFooter {
    display: flex;
    flex-flow: row nowrap;
    /* -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;*/
    /*flex: 1 1 100%;*/
}

.logoFooter {
    padding-left: 28px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.usuarioFooter {
    margin-top: 60px;
    margin-right: 40px;
    text-align: end;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


#NameUsr {
    color: #fff;
    text-transform: uppercase;
}

section footer {
    background-color: #1e2126;
    /*background-color: rgb(43 46 53) !important;*/
    color: rgb(179 133 45) !important;
    height: 85px;
    padding-left: 36px !important;
    padding-top: 23px !important;
    border-radius: 0px 0px 15px 15px !important;
    border-top: 2px solid #b3852d;
     

}

.footerValidado {
    height: 250px !important;
    border-top: 2px solid #1E2125 !important;
    background-color: rgb(30 33 38) !important;
}

.hr {
    /*flex: 1 1 100%;*/
    /*flex-flow: nowrap;*/
    margin: auto;
    margin-left: -23%;
    margin-right: -23%;
    height: 1px;
    background-color: #b3852d;
}

/*--------- TAJER --------*/
/*menu */
:root {
    --transition-duration: 0.3s;
    --transition-delay: 0.2s;
}

a {
    position: relative;
    display: block;
    padding: 3px;
}

.border {
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
}

.border-top,
.border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
}

.border-left,
.border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
}

.border-top,
.border-left,
.border-right {
    top: 0;
}

.border-bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
}

a:hover .border-top,
a:hover .border-bottom {
    transform: scaleX(1);
}

a:hover .border-left,
a:hover .border-right {
    transform: scaleY(1);
}

.mayuscula {
    text-transform: uppercase !important;
}

.introjs-progressbar {
    background-color: #b3852d !important;
}

.progress-bar {
    background-color: #b3852d !important;
}

.progress {
    border-radius: 12px !important;
    border: 1px solid #b3852d !important;
    height: 16px !important;
    background-color: transparent !important;
    background-image: none !important;
}

.introjs-helperNumberLayer {
    background: linear-gradient(to bottom, #b3852d 0%, #b3852d 100%) !important;
}

.wrapper.style1.content {
    padding: 1rem !important;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
}

#main>.inner {
    flex: 1 1 auto;
    max-width: 95% !important;
    width: 91rem !important;
}

body {
    overflow-x: hidden !important;
    padding-top: 3rem !important;
}

.hrImgBajo {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    border: 0 !important;
    border-top: 3px solid rgb(179 133 45) !important;
}

.h3ImgBajo {
    text-align: center;
    font-size: 15px !important;
    color: #b3852d !important;
}

.imgFooterSetion {
    margin-top: -18px;
    height: 23%;
}

#footer h5 {
    color: #b3852d !important;
    font-size: 14px !important;
}

#footer h5,
#footer .progress {
    margin-top: 11px;
}

#footer b {
    color: #ffff;
}

.wrapper.style1 .content {
    padding: 2rem !important;
}

.PriColumna {
    padding-left: 119px;
    padding-right: 0px;
    padding-top: 30px;
}

#filaTitulo .col-6 {
    background-color: rgb(39 41 44) !important;
}

#filaTitulo .col-6 h2 {
    color: #b3852d;
    padding-left: 105px;
    font-size: 20px;
    margin-top: 0.5rem;
    font-family: LouisRegular !important;
}

.PriColumna .col-10 h3 {
    color: #b3852d;
    font-family: LouisRegular !important;
}

#filaTitulo .col-7 {
    background-color: rgb(39 41 44) !important;
}

#filaTitulo .col-8 {
    background-color: rgb(39 41 44) !important;
}

#filaTitulo .col-8 h2 {
    color: #b3852d;
    padding-left: 105px;
    font-size: 20px;
    margin-top: 0.5rem;
    font-family: LouisRegular !important;
}

#filaTitulo .col-7 h2 {
    color: #b3852d;
    padding-left: 105px;
    font-size: 20px;
    margin-top: 0.5rem;
    font-family: LouisRegular !important;
}

#contenido p {
    text-align: justify !important;
    font-family: LouisRegular !important;
    color: #58595b !important;
}

#contenido h3 {
    margin-top: 22px;
    color: #b3852d !important;
    text-align: justify !important;
    font-family: LouisRegular !important;
}

.subUlS2 li {
    color: #58595b !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: inherit !important;
}

#main>.inner {
    box-shadow: 0px 0px 15px 0px rgb(160 24 24 / 0%) !important;
}

.navbar {
    background-color: #2b2e35 !important;
}

.bg-dark {
    background-color: #2b2e36 !important;
}

.fa-circle:before {
    color: #b3852d69 !important;
}

.menuActivo:before {
    color: #b3852d !important;
}

.list-unstyled {
    text-align: right !important;
}

.list-unstyled li {
    margin-bottom: 10px !important;
    cursor: pointer;
}

.ml-auto button {
    margin-right: 20px !important;
}

.seColumna {
    text-align: center !important;
}

.menuTop a {
    font-family: LouisRegular !important;
    color: #b3852d !important;
    cursor: pointer !important;
    font-size: larger !important;
}

.menuTop p strong {
    font-family: LouisRegular !important;
    font-size: small !important;
    color: #fff !important;
}

.tituloCabezera h4 {
    font-family: LouisRegular !important;
    color: #fff;
    text-align: center;
}

.tituloIndex h4,
.tituloIndex .h4-1 {
    color: #b3852d !important;
}

.tituloIndex .h4-1 {
    color: #fff !important;
}

/*.tituloIndex {
    border: 1px solid #b3852d;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 200px;
    position: absolute;
    top: 0;
    left: 250px;
    padding-left: 30px;
    border-top: 0;
    padding-right: 30px;
}*/

.tituloIndex {
    width: 90%;
    border: 1px solid #b3852d;
    text-align: center;
    padding-bottom: 68px;
    padding-top: 90px;
    position: absolute;
    top: 0px;
    left: -62px;
    padding-left: 30px;
    border-left: 0;
    padding-right: 30px;
}
.recDorado {
    width: 90%;
    border: 1px solid #b3852d;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 24px;
    position: relative;   
    left: 134px;
    padding-left: 30px;    
    padding-right: 30px;
}

.tituloCabezera {
    margin-left: 30px;
    margin-top: 8px;
    visibility: hidden;
}

.h4 {
    color: #b3852d !important;
    margin-bottom: 0px !important;
}

.h4,
.h4-1 {
    font-size: 28px !important;
}

.content {
    background-color: #2b2e36;
    height: 500px;
    /*background-color: white !important;*/
}
.content1 {
    background-color: #2b2e36;
    height: 600px;
    /*background-color: white !important;*/
}

.text_dorado {
    color: #b3852d !important;
    font-family: LouisRegular;
}

.text_blanco {
    color: #58595b !important;
    font-family: LouisRegular;
}

.PriColumna ul li {
    text-align: justify;
    margin-bottom: 12px;
    font-family: LouisRegular !important;
    color: #58595b;
}

.PriColumna ul li {
    color: #b3852d;
}

.PriColumna p {
    color: #58595b;
    font-family: LouisRegular !important;
    text-align: justify;
}

.PriColumna h6 {
    margin-bottom: 12px;
}

.tituloImagenes h6 {
    color: #58595b;
    margin-bottom: 40px;
    text-align: center;
}

.PriColumna h5 {
    margin-bottom: 20px;
    color: #b3852d;
    font-family: LouisRegular !important;
    text-align: justify;
}

.tituloImagenes {
    margin-top: 42px !important;
    margin-left: 75px !important;
}

.listaD8 {
    list-style: decimal;
}

.listaD8 li {
    color: #58595b;
    font-family: LouisRegular !important;
    padding-left: 0 !important;
    text-align: justify;
}

.ulD11 li {
    color: #58595b !important;
}

.ulD11 {
    list-style-type: ")";
}

.f1D13 {
    padding-right: 126px;
    padding-top: 30px;
}

.D10 .row {
    margin-bottom: 20px;
    padding-left: 15px;
}

.D10 .row .col-1,
.D10 .row .col-11 {
    margin: auto;
}

.btn_siguiente {
    font-family: LouisRegular !important;
    color: aliceblue !important;
    background: #b3852d;
    border-radius: 10px;
    height: 30px;
    margin-left: -39%;
}

.btn_siguiente:hover {
    font-family: LouisRegular !important;
    border-color: #b3852d !important;
    border: 2px solid;
}

.btn-outline-warning:hover {
    border-color: #b3852d !important;
}

.btn-outline-warning {
    font-size: 22px !important;
    color: #b3852d !important;
    font-weight: bold !important;
}
.btn-outline-warning1 {
    font-size: 11px !important;
    color: #b3852d !important;
    font-weight: bold !important;
}

.btn {
    color: #b3852d !important;
    border: 2px solid !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: #b3852d !important;
    color: #fff !important;
}

#simplemodal-container h3 {
    color: #b3852d !important;
}

#simplemodal-container {
    color: #fff !important;
    background-color: rgb(39 41 44) !important;
    border: 4px solid #b3852d !important;
    height: 190px !important;
    width: 390px !important;

}

.PriColumna .row {
    padding-top: 24px !important;
}

.pMd2 p {
    margin-top: 12px;
}

html,
body,
div,
span,
applet,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: LouisRegular !important;
}

.opNivel {
    background-color: #b3b3b4;
    border-radius: 20px;
    height: 35px;
    border: 3px solid #b3852d;
    cursor: pointer;
}

.opNivel:hover {
    background-color: #b3852d;
    border: 3px solid #b3b3b4;
}

.preActiva {
    background-color: #b3852d;
    border: 3px solid #b3b3b4;
}

.opNivel h5 {
    padding-top: 5px;
    color: #fff;
}

.conBtnSig {
    display: flex;
    padding-left: 7% !important;
}

.conBtnSig div {
    margin-top: auto;
}

.inicial {
    color: #b3852d;
    cursor: pointer;
}

.inicial a {
    color: #b3852d !important;
}

.inicial a:hover {
    color: #b3852d !important;
    text-decoration: none !important;
}

.li3 {
    margin-bottom: 10px;
}

/*.bd-highlight ul {
    list-style: none;
    color: #fff;
    text-align: justify;
    position: absolute;
    top: 75px;
    margin-bottom: 10px;
}*/

.bd-highlight ul {
    list-style: none;
    color: #fff;
    text-align: justify;
    position: absolute;
    top: 120px;
    left: 580px;
    margin-bottom: 10px;
    font-size: 17px;
}


.bd-highlight ul li {
    margin-bottom: 12px;
}

.btn-warning {
    font-size: 20px;
    font-weight: bold;
    top: 10px;
    margin-left: 10px;
    color: #fff !important;
    background-color: #b3852d !important;
    border-color: #b3852d !important;
}

.ml-auto button {
    margin-top: 18px;
    font-size: 23px !important;
    padding-left: 7px;
    padding-right: 7px;
}

.btnSalir {
    color: #fff !important;
    font-family: LouisRegular;
    border-color: #fff !important;
}

.btn {
    border-radius: 12px !important;
    height: auto !important;
    font-family: LouisRegular !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: #fff !important;
    color: #b3852d !important;
}

body {
    padding-top: 40px !important;
    font-family: LouisRegular !important;
}


@media (min-width: 1281) and (max-width: 1921px) {
    .content {
        height: 530px;
    }

    .tituloIndex {
        left: 420px !important;
    }

    .continuar {
        left: 367px !important;
    }
}

.swal2-popup {
    width: 27em !important;
}

.introjs-helperLayer {
    background-color: rgb(101 101 101) !important;
}

#pfin p {
    margin: initial;
    color: #fff !important;
    text-align: right !important;
    font-family: LouisRegular !important;
}

.img-fluid:hover {
    max-width: 124%;
    cursor: pointer;
}

.menuTop p .realizado {
    color: #58595b !important;
    font-family: LouisRegular;
}

.continuar {
    font-size: 80px !important;
    position: absolute;
    top: 445px;
    left: 172px;
    padding: 0px 20px !important;
}

.text {
    font-size: 28px;
    font-family: helvetica;
    font-weight: bold;
    color: #71d90b;
    text-transform: uppercase;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.zoom {
    padding: 50px;
    /*background-color: green;*/
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.ulM2 li {
    color: #b3852d !important;
    padding-bottom: 10px;
}

.ulM2 {
    margin-top: 30px;
    list-style: decimal;
}


.ulM4 {
    margin-top: 30px;
    list-style: decimal;
}

.ulM4 li {
    color: #58595b !important;
    padding-bottom: 10px;
}

.ulM5 li {
    color: #b3852d !important;
    padding-bottom: 10px;
}

.ulM5 {
    margin-top: 30px;
}

.ulM7 {
    margin-top: 60px;
}

.ulM7 li {
    color: #b3852d !important;
    padding-bottom: 10px;
}

.ulM6 li {
    color: #58595b !important;
}
.ulM8 li {
    
    color: #b3852d !important;
    padding-bottom: 1px;
    list-style: decimal;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.imgLogo {
    width: 480px;
}

@media screen and(max-width: 800px) {
    .imgLogo {
        width: 300px;
    }
}
.flechaAtras:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url("../../images/imgGit/izq_negro.gif");
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.flechaAlante:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url("../../images/imgGit/dere_negro.gif");
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.MAnimacion{
    cursor: pointer;
    list-style: none !important;
}

.MAnimacion:before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url("../../images/imgGit/dere_negro.gif");
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}

.m1Ul li{
    padding-top: 3%;
}
  ol#imganillo li img {
    height: 50px;
}

.loading{    
    position: absolute;
        z-index: 2;
        left: 48%;
        top: 80%;
}
fieldset
{
  background-color:#CCC;
  max-width:500px;
  padding:16px;	
}
.legend1
{
  margin-bottom:0px;
  margin-left:16px;
}

.flecha:before {
    content: '';
    height: 55px;
    width: 60px;
    background-size: 55px;
    background-image: url("../../images/imgGit/dere_negro.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    border:4px solid #fff;
    /*top: 9px;*/
    /*line-height: 95px;
    text-align: center;*/
    left: 3%;
    margin-left: -50px;
    background-color: #fff;


}
.flecha {
    content: '';
    height: 55px;
    width: 60px;
    background-size: 55px;
    background-image: url("../../images/imgGit/dere_negro.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    border:4px solid #fff;
    /*top: 9px;*/
    /*line-height: 95px;
    text-align: center;*/
    left: 3%;
    margin-left: -50px;
    background-color: #fff;


}
.flecha{
  background: #fff;
  padding:20px 30px;
  margin-bottom: 60px;
  position: relative !important ; 
  border:2px solid #b3852d;
}