<footer class="footerValidado">
	<div> 
		<p style="text-align-last: end;margin-top: revert;"><b class="text_dorado" style=" margin-right: 60%;font-size: x-large;">PROGRAMA DE ENTRENAMIENTO BÀSICO 1</b></p>
	</div>
    <hr class="hr">
    <div class="row">
    	<div class="col-md-1">
    	</div>
		<div class="col-md-7">
			<img class="animate__animated animate__heartBeat" src="images/imgCurso/LOGO ISUZU CHEVROLET.png" alt="" style="padding-top: inherit;height: 33%;" >
		</div>
		<div class="ml-auto p-5">
			<p><b class="text_dorado">BIENVENIDO</b><br><b class="text_blanco mayuscula" style="font-size: x-large;">ANDREA GAITAN </b></p>		
		</div>
    </div>		
</footer>

