<div class="row">
    <div class="col-12 conModulo d-flex" id="contenido">
        <div class="col-5 col-md-5 animate_animated animatebounceInLeft animate_delay-1s" style="margin-top: -15px;">
            <div class="tituloIndex" style="position: relative !important;padding-bottom: 54px !important;left: -30px;">
                <h4 class="h4" style="color: #ffff !important; font-size: 40px !important;">WBT ELECTRICIDAD</h4>
                <h4 class="h4-1" style="color: #b3852d !important; font-weight: bolder; font-size: 47px !important; margin-left: -38%;">BÁSICA</h4>
            </div>
        </div>
        <div class="col-5" style="position: relative !important;">
            <ul style="padding-top: 4% !important;position: relative !important;list-style: none;color: #fff;text-align: revert;;font-size: 20px;" class="dos">
                <li class="inicial">INTRODUCCIÓN <button type="button" class="btn btn-warning empezar cinco" style="padding: 0px 20px !important;">EMPEZAR</button></li>
                <li>GENERALIDADES DE LA ELECTRICIDAD</li>
                <li class="inicial">ELECTRICIDAD BÁSICA</li>
                <li>COMPONENTES USADOS EN CIRCUITOS ELÉCTRICOS</li>
                <li class="inicial">CIRCUITOS ELÉCTRICOS</li>
                <li>RELÉ</li>
                <li class="inicial">MOTORES ELÉCTRICOS</li>
            </ul>
            <a href="#" class="siete parpadea continuar btn btn-warning" style="font-size: 40px !important;position: relative;top: 0px;left: 0px;width: fit-content;">Continuar</a>
        </div>
        <div class="col-1">
            <ul class="list-unstyled seis">
                <li class="lista" style="margin-bottom: 11px !important;"><i class="fa fa-circle" aria-hidden="true" style="font-size: 20px !important;"></i></li>
                <li class="lista" style="margin-bottom: 11px !important;"><i class="fa fa-circle" aria-hidden="true" style="font-size: 20px !important;"></i></li>
                <li class="lista" style="margin-bottom: 11px !important;"><i class="fa fa-circle" aria-hidden="true" style="font-size: 20px !important;"></i></li>
                <li class="lista" style="margin-bottom: 11px !important;"><i class="fa fa-circle" aria-hidden="true" style="font-size: 20px !important;"></i></li>
                <li class="lista" style="margin-bottom: 11px !important;"><i class="fa fa-circle" aria-hidden="true" style="font-size: 20px !important;"></i></li>
                <li class="lista" style="margin-bottom: 11px !important;"><i class="fa fa-circle" aria-hidden="true" style="font-size: 20px !important;"></i></li>
                <li class="lista" style="margin-bottom: 11px !important;"><i class="fa fa-circle" aria-hidden="true" style="font-size: 20px !important;"></i></li>
            </ul>
        </div>
    </div>
    <div class="col-1 navSection" style="margin: auto; display: none;">
    </div>
</div>