<div class="col-6 animate_animated animatebounceInLeft animate_delay-1s" style="margin-top: -15px;">
    <div class="tituloIndex" style="position: relative !important;padding-bottom: 54px !important;left: -30px;">
        <h4 class="h4" style="color: #ffff !important; font-size: 40px !important;">WBT ELECTRICIDAD</h4>
        <h4 class="h4-1" style="color: #b3852d !important; font-weight: bolder; font-size: 47px !important; margin-left: -38%;">BÁSICA</h4>
    </div>
</div>
<div class="col-6" style="position: relative !important;">
    <ul style="padding-top: 4% !important;position: relative !important;list-style: none;color: #fff; text-align: revert;;font-size: 20px;" class="dos">
        <li class="inicial">INTRODUCCIÓN <button type="button" onclick="Ir(0);" class="btn btn-warning empezar" style="padding: 0px 20px !important;">EMPEZAR</button></li>
        <li>GENERALIDADES DE LA ELECTRICIDAD</li>
        <li class="inicial">ELECTRICIDAD BÁSICA</li>
        <li>COMPONENTES USADOS EN CIRCUITOS ELÉCTRICOS</li>
        <li class="inicial">CIRCUITOS ELÉCTRICOS</li>
        <li>RELÉ</li>
        <li class="inicial">MOTORES ELÉCTRICOS</li>
    </ul>

</div>