<div class="row">
    <div class="col-12">
        <img class="img-fluid" src="images/ImgCurso/pre2.png" alt="">
    </div>
</div>
<div class="row" style="padding-left: 14px; padding-right: 14px;">
    <div id="opc21" onclick="IrPre(2,1);" class="col-5 opNivel">
        <h5>A. Milésimas</h5>
    </div>
    <div class="col-2"></div>
    <div id="opc22" onclick="IrPre(2,2);" class="col-5 opNivel">
        <h5>B. Diezmilésimas</h5>
    </div>
</div>
<div class="row" style="padding-left: 14px; padding-right: 14px;">
    <div id="opc23" onclick="IrPre(2,3);" class="col-5 opNivel">
        <h5>C. Millonésimas</h5>
    </div>
    <div class="col-2"></div>
    <div id="opc24" onclick="IrPre(2,4);" class="col-5 opNivel">
        <h5>D. Centésimas</h5>
    </div>
</div>