<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>INTRODUCCIÓN / OBJETIVO DEL CURSO
        </h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 3%; text-align: -webkit-left; font-size: 25px;">
            <p style="margin-bottom: revert;">Enseñar al participante técnicas que le permiten verificar el estado de los componentes eléctricos, partiendo de los fundamentos y leyes que los rigen.
            </p>
        </div>

    </div>
    <div class="col-2"></div>

</div>