<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>INTRODUCCIÓN / OBJETIVOS ESPECIFICOS</h2>
    </div>
</div>
<div class="row animate__animated animate__fadeInDown animate__delay-1s " id="contenido">
    <div class="col-7 mt-3 PriColumna">
        <div style=" margin-left: 2%; font-size: 15px; ">
            <ul class="m1Ul">
                <li class="MAnimacion" id="1"><b class="numero">1.</b>
                    <div style="display: none;">
                        <p>Identificar las aplicaciones generales de la electricidad en los vehículos.</p>
                    </div>
                </li>
                <li style="visibility: hidden;" class="MAnimacion" id="2"><b class="numero">2.</b>
                    <div style="display: none;">
                        <p>Conocer los tipos de energía eléctrica existentes y sus aplicaciones.</p>
                    </div>
                </li>
                <li style="visibility: hidden;" class="MAnimacion" id="3"><b class="numero">3.</b>
                    <div style="display: none;">
                        <p>Conocer las leyes de los circuitos eléctricos y sus características.</p>
                    </div>
                </li>
                <li style="visibility: hidden;" class="MAnimacion" id="4"><b class="numero">4.</b>
                    <div style="display: none;">
                        <p>Conocer los componentes eléctricos de un vehículo.</p>
                    </div>
                </li>
                <li style="visibility: hidden;" class="MAnimacion" id="5"><b class="numero">5.</b>
                    <div style="display: none;">
                        <p>Conocer y aplicar la ley de ohm.</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="col-1"></div>
<div class="col-4 seColumna"></div>
</div>