<ul class="list-unstyled">
    <li class="lista" id="VinI0" onclick="Ir(0);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI1" onclick="Ir(1);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI2" onclick="Ir(2);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI3" onclick="Ir(3);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI4" onclick="Ir(4);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI5" onclick="Ir(5);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI6" onclick="Ir(6);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI7" onclick="Ir(7);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI8" onclick="Ir(8);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI9" onclick="Ir(9);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI10" onclick="Ir(10);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI11" onclick="Ir(11);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI12" onclick="Ir(12);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI13" onclick="Ir(13);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI14" onclick="Ir(14);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI15" onclick="Ir(15);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI16" onclick="Ir(16);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI17" onclick="Ir(17);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI18" onclick="Ir(18);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI19" onclick="Ir(19);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI20" onclick="Ir(20);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI21" onclick="Ir(21);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI22" onclick="Ir(22);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI23" onclick="Ir(23);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI24" onclick="Ir(24);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI25" onclick="Ir(25);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI26" onclick="Ir(26);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI27" onclick="Ir(27);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI28" onclick="Ir(28);"><i class="fa fa-circle" aria-hidden="true"></i></li>
</ul>