<ul class="list-unstyled">
    <li class="lista" id="VinI0" onclick="Ir(0);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI1" onclick="Ir(1);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI2" onclick="Ir(2);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI3" onclick="Ir(3);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI4" onclick="Ir(4);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI5" onclick="Ir(5);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI6" onclick="Ir(6);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI7" onclick="Ir(7);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    <li class="lista" id="VinI8" onclick="Ir(8);"><i class="fa fa-circle" aria-hidden="true"></i></li>
    
   
</ul>