<div class="col-6 animate__animated animate__flash animate__delay-1s" style="margin-top: 6%; margin-left: 8%; margin-bottom: 10%;">
    <div>
        <h4 class="h4"><b style="color: #ffff !important; font-size: 50px !important;">GENERALIDADES</b></h4>
        <h4 class="h4-1"> <b style="color: #b3852d !important; font-size: 50px !important;">DE LA ELECTRICIDAD</b></h4>
    </div>
</div>