<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>COMPONENTES ELÉCTRICOS EN AUTOMÓVILES</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate_animated animatefadeInDown animate_delay-1s mt-3 PriColumna">

        <div class="col-12" style=" margin-left: 0%; padding-top: 3%; text-align: -webkit-left; font-size: 20px;">
            <p style="margin-bottom: revert;">Muchos de los dispositivos de control, de emision de luz, y dispositivos de generacion  de potencia y carga, son componentes electricos utilizados en el automòvil
            </p>
            <p>Igualmente para la detección del estado
                de varios dispositivos, los sensores
                convierten estas mediciones en señales
                eléctricas y el control por medio del
                computador a través de las mismas se ha
                generalizado en años recientes.</p>
                
        </div>

    </div>
    <div class="col-1"></div>

    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 15%;">

            <div class="col-5" style=" margin-left: 0%; padding-top: 1%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-5" style=" margin-left: 0%; padding-top: 2%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 2.jpg" alt="" class="img-fluid">

            </div>
        </div>
    </div>

</div>