<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>COMPONENTES ELÉCTRICOS EN AUTOMÓVILES</h2>
    </div>
</div>
<div class="row  " id="contenido">
    <div class="col-6 animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="col-8" style=" margin-left: 21%; padding-top: 26%; text-align: -webkit-left; font-size: 20px;">
            <img src="images/ImgCurso/Imagen 6.jpg" alt="" class="img-fluid animate__animated animate__bounceInRight animate__delay-2s">
        </div>


    </div>
    <div class="col-1"></div>

    <div class="col-5 animate__animated animate__fadeInDown animate__delay-1s mt-3">
        <div class="row" style="padding-left: 15%;">

            <div class="col-5" style=" margin-left: 0%; padding-top: 1%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 1.jpg" alt="" class="img-fluid animate__animated animate__bounceInRight animate__delay-2s">
            </div>
            <div class="col-5" style=" margin-left: 0%; padding-top: 2%; text-align: -webkit-left; font-size: 25px;">
                <img src="images/ImgCurso/Imagen 2.jpg" alt="" class="img-fluid animate__animated animate__bounceInRight animate__delay-2s">

            </div>
        </div>
    </div>

</div>