<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>COMPONENTES ELÉCTRICOS EN AUTOMÓVILES</h2>
    </div>
</div>
<div class="row  " id="contenido">

    <div class="col-10 PriColumna animate__animated animate__fadeInDown animate__delay-1s mt-3 PriColumna">

        <div class="row" style="padding-left: 3%; font-size: 18px;">
            <p> Los componentes eléctricos se usan para <br> una variedad de efectos, estos pueden ser <br> divididos en TRES ACCIONES:</p>
        </div>

        <div class="row " style="padding-left: 5%;">
            <div class="col-5" style=" margin-left: 0%; padding-top: 1%;  ">
                <h4 style="color: #b3852d !important; font-size: 20px !important;">ACCIÓN TÉRMICA:</h4>
                <p>Convertir la energía eléctrica en calor (o luz). </p>
            </div>
            <div id="1" class="col-5 flechaAlante">
                <div id="im1" class="row " style=" margin-left: 0%; padding-top: 0%; display: none; ">
                    <img src="images/ImgCurso/IMAGENESflecder-15.jpg" alt="" style="height: 80px;" class="animate__animated animate__flash">
                    <img src="images/ImgCurso/Imagen 8.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -28%; padding-left: 103px;">
                </div>
            </div>
        </div>

        <div class="row " style="padding-left: 5%;">
            <div class="col-5" style=" margin-left: 0%; padding-top: 1%;  ">
                <h4 style="color: #b3852d !important; font-size: 20px !important;">ACCIÓN QUÍMICA:</h4>
                <p>Una reacción química o electrólisis causada por el paso de corriente eléctrica a través de una solución electrolítica.</p>
            </div>
            <div id="2" class="col-5 ">
                <div id="im2" class="row " style=" margin-left: 0%; padding-top: 0%; display: none; ">
                    <img src="images/ImgCurso/IMAGENESflecder-15.jpg" alt="" style="height: 80px;" class="animate__animated animate__flash">
                    <img src="images/ImgCurso/Imagen 9.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -28%; padding-left: 143px;">
                </div>
            </div>
        </div>
        <div class="row " style="padding-left: 5%;">
            <div class="col-5" style=" margin-left: 0%; padding-top: 1%;  ">
                <h4 style="color: #b3852d !important; font-size: 20px !important;">ACCIÓN MAGNÉTICA:
                </h4>
                <p>Convertir energía eléctrica en energía mecánica o viceversa.</p>
            </div>
            <div id="3" class="col-6 ">
                <div id="im3" class="row " style=" margin-left: 0%; padding-top: 0%; display: none; ">
                    <img src="images/ImgCurso/IMAGENESflecder-15.jpg" alt="" style="height: 80px;" class="animate__animated animate__flash">
                    <img src="images/ImgCurso/Imagen 10.jpg" alt="" class="   img-fluid animate__animated animate__bounceInRight " style="margin-top: -18%; padding-left: 134px;">
                </div>
            </div>
        </div>


    </div>
</div>