<div class="row" id="filaTitulo">
    <div class="col-6 animate__animated animate__bounceInLeft">
        <h2>COMPONENTES ELÉCTRICOS EN AUTOMÓVILES</h2>
    </div>
</div>
<div class="row  " id="contenido">

    <div class="row" style="padding-left: 15%;">
        <div class="col-5" style=" margin-left: 0%; padding-top: 2%; text-align: -webkit-left; font-size: 25px;">
            <img src="images/ImgCurso/Imagen 11.jpg" alt="" class="img-fluid animate__animated animate__bounceInRight animate__delay-1s">
        </div>
        <div class="col-1"></div>
        <div class="col-5" style=" margin-left: 0%; padding-top: 2%; text-align: -webkit-left; font-size: 25px;">
            <img src="images/ImgCurso/Imagen 12.jpg" alt="" class="img-fluid animate__animated animate__bounceInRight animate__delay-2s">
        </div>
    </div>



    <div id="1" class="col-5 flechaAlante " style=" margin-left: 0%; padding-top: 2%;  font-size: 25px; padding-left: 24%;">
        <img src="images/ImgCurso/IMAGENES-33.jpg" alt="" class="img-fluid  animate__animated animate__bounceInRight ">

    </div>

    <div class="col-1"></div>

    <div id="2" class="col-5" style=" margin-left: 0%; padding-top: 2%;  font-size: 25px; padding-left: 24%;">
        <img src="images/ImgCurso/IMAGENES-33.jpg" alt="" class="img-fluid animate__animated animate__bounceInRight ">
    </div>



    <div id="1" class="col-6 " style=" margin-left: 0%; padding-top: 2%;  font-size: 25px; padding-left: 17%;">
        <div id="im1" class="" style="display: none;">
            <p>DC (Corriente Directa) hace referencia al tipo de corriente en la cual su magnitud y dirección son independientes del tiempo, es decir que sigue siendo la misma a lo largo del del tiempo.</p>
        </div>
    </div>



    <div id="2" class="col-6" style=" margin-left: 0%; padding-top: 2%;  font-size: 25px; padding-left: 17%;">
        <div id="im2" class="" style="display: none;">
            <p>AC (Corriente Alterna) hace referencia al tipo de corriente en la cual su magnitud y dirección son dependientes del tiempo, los electrodomésticos hacen uso de este tipo de corriente.</p>
        </div>
    </div>





</div>